{% extends 'app/' ~ config.app_skin ~ '/app.html.twig' %}

{% set entity = 'account_fund' %}

{% block title %} {{ parent() }} &bull; {% if (data.action == 'delete') %}{{ lang.ACCOUNT_FUND_DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.ACCOUNT_FUND_EDIT }}{%  endif %}{% endblock %}

{% block body %}

<div class="container-fluid mb-4">

    <a href="#" id="topofthepage"></a>

    <div class="col-md-8 offset-md-2 col-sm-12 my-4 p-2 rounded-3 font-weight-bold {% if (data.action == 'delete') %}is_delete{%  else %} bg-light{%  endif %}">
        {% if (data.action == 'delete') %}
            {{ lang.ACCOUNT_FUND_DELETE }}
        {% elseif (data.action == 'edit') %}
            {{ lang.ACCOUNT_FUND_EDIT }}
        {% elseif  (data.action == 'add') %}
            {{ lang.ACCOUNT_FUND_ADD }}
        {%  endif %}
        : {{ reg.name }}
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">

            <form id="item-form"
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
            >

                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">

                        <div id="box-result">
                            <div class="alert">
                            </div>
                        </div>

                        <div class="card">

                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="details-tab"
                                           href="#tab-details"
                                           role="tab"
                                           aria-controls="details"
                                           aria-selected="true">
                                            {{ lang.ACCOUNT_FUND_TAB_DETAILS }}
                                        </a>
                                    </li>
                                    {#
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   id="register-tab"
                                                   href="#tab-register"
                                                   role="tab"
                                                   aria-controls="register"
                                                   aria-selected="false">
                                                    {{ lang.ACCOUNT_FUND_TAB_REGISTER }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    #}
                                </ul>
                            </div>

                            <div class="card-body">

                                {# This shines in all tab-content #}
                                {#
                                    <div class="row">
                                        <div class="col-9 mx-auto card-title-notactive">
                                            {{ lang.ACCOUNT_FUND_NOT_ACTIVE }}
                                        </div>
                                    </div>
                                #}

                                <div class="tab-content mt-3">

                                    <div class="tab-pane fade show active p-3 {% if ( data.action == 'delete' ) or ( data.action == 'edit' and reg.active == '0') %}reg_not_active{% else %}reg_active{% endif %}" id="tab-details" role="tabpanel">

                                        {#<h5 class="card-title text-center">{{ lang.ACCOUNT_FUND_TAB_DETAILS }}</h5>#}

                                        <div class="row">
                                            <div class="col-md-8 offset-md-2">

                                                {% if ( data.action != 'add' ) %}

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="account">{{ lang.ACCOUNT_FUND_ACCOUNT }}:</label>
                                                        {{ reg.account | getAccountName }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="user">{{ lang.ACCOUNT_FUND_USER }}:</label>
                                                        {{ reg.user | getUserName }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="date">{{ lang.ACCOUNT_FUND_DATE }}:</label>
                                                        {{ reg.date }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="description">{{ lang.ACCOUNT_FUND_DESCRIPTION }}:</label>
                                                        {{ reg.description }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="payment_type">{{ lang.PAYMENT_TYPE }}:</label>
                                                        {{ reg.payment_type | getPaymentTypeName }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="account_payment_method">{{ lang.PAYMENT_METHOD }}:</label>
                                                        {{ reg.account_payment_method | getAccountPaymentMethodName }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="payment_reference">{{ lang.ACCOUNT_FUND_PAYMENT_REFERENCE }}:</label>
                                                        {{ reg.payment_reference }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="amount">{% if reg.credit != '' %}{{ lang.ACCOUNT_FUND_CREDIT }}{% else %}{{ lang.ACCOUNT_FUND_DEBIT }}{% endif %}:</label>
                                                        <span class="money">{% if reg.credit != '' %}{{ reg.credit }}{% else %}{{ reg.debit }}{% endif %}</span>&nbsp;{{ config.web_currency }}
                                                    </div>

                                                {% else %}

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="user">{{ lang.ACCOUNT_FUND_USER }}:</label>
                                                        {{ reg.user | getUserName }}
                                                    </div>
                                                    <input type="hidden" name="user" value="{{ reg.user }}">

                                                    <div class="form-group">
                                                        <label class="col-12" for="account">{{ lang.ACCOUNT }}:</label>
                                                        <select class="form-control"
                                                                id="account"
                                                                name="account"
                                                                {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                                value="{{ reg.account }}"
                                                                placeholder="{{ lang.ACCOUNT_SELECT }}">
                                                            {{ data.account_options|raw }}
                                                        </select>
                                                    </div>

                                                    <div class="form-group" id="date_div">
                                                        <label class="control-label" for="date">{{ lang.ACCOUNT_FUND_DATE }}:</label>
                                                        {% if user_group == '1' or user_group == '2' %}
                                                            <input id="date"
                                                                   type="text"
                                                                   name="date"
                                                                   class="form-control datetimepicker"
                                                                   value="{{ reg.date }}"
                                                                    {#required="required"#}
                                                                   placeholder="{{ lang.ENTER_DATE }}"
                                                            >
                                                        {% else %}
                                                            {{ reg.date_reg }}
                                                            <input type="hidden" name="date_reg" value="{{ reg.date_reg }}">
                                                        {% endif %}
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-12" for="description">{{ lang.ACCOUNT_FUND_DESCRIPTION }}:</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="description"
                                                               name="description"
                                                               minlength="2"
                                                               maxlength="255"
                                                               {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                               value="{{ reg.description }}"
                                                               placeholder="{{ lang.ENTER_TEXT }}"
                                                               aria-describedby="descriptionAriaDesc"
                                                        >
                                                    </div>
                                                    <span id="descriptionAriaDesc" class="d-none">{{ lang.ACCOUNT_FUND_DESCRIPTION }}</span>

                                                    <div class="form-group">
                                                        <label class="col-12" for="payment_type">{{ lang.PAYMENT_TYPE }}:</label>
                                                        <select class="form-control"
                                                                id="payment_type"
                                                                name="payment_type"
                                                                {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                                value="{{ reg.payment_type }}"
                                                                placeholder="{{ lang.SELECT }}">
                                                            {{ data.payment_type_options | raw }}
                                                        </select>
                                                    </div>

                                                    <input type="hidden" name="account_payment_method" value="{{ reg.user }}">
                                                    <input type="hidden" name="payment_reference" value="{{ reg.user }}">

                                                    <div class="form-group">
                                                        <label class="col-12" for="credit">{{ lang.ACCOUNT_FUND_CREDIT }}:</label>
                                                        <input type="text"
                                                               class="form-control money"
                                                               id="credit"
                                                               name="credit"
                                                               minlength="2"
                                                               maxlength="10"
                                                               {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                               value="{{ reg.credit }}"
                                                               placeholder="{{ lang.ENTER_NUMBER }}">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-12" for="debit">{{ lang.ACCOUNT_FUND_DEBIT }}:</label>
                                                        <input type="text"
                                                               class="form-control money"
                                                               id="debit"
                                                               name="debit"
                                                               minlength="2"
                                                               maxlength="10"
                                                               {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                               value="{{ reg.debit }}"
                                                               placeholder="{{ lang.ENTER_NUMBER }}">
                                                    </div>

                                                {% endif %}

                                            </div>{# <div class="col-md-8 offset-md-2"> #}
                                        </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show active p-3" id="tab-details" role="tabpanel"> #}
                                    {#
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}

                                            <div class="tab-pane fade show p-3 {% if reg.active %}reg_active{% else %}reg_not_active{% endif %}" id="tab-register" role="tabpanel">

                                            {#<h5 class="card-title text-center">{{ lang.LANG_TEXT_TAB_REGISTER }}</h5>

                                            <div class="col-9 mx-auto">
                                            <div class="row">

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="createdby">{{ lang.APP_CREATED_BY }}:</label>
                                                {{ reg.createdby }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="createddate">{{ lang.APP_CREATED_DATE }}:</label>
                                                {{ reg.createddate }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="updatedby">{{ lang.APP_UPDATED_BY }}:</label>
                                                {{ reg.updatedby }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="updateddate">{{ lang.APP_UPDATED_DATE }}:</label>
                                                {{ reg.updateddate }}
                                            </div>

                                            </div>{# <div class="row">
                                            </div>{# <div class="col-9 mx-auto">

                                            </div>{# <div class="tab-pane fade show p-3" id="tab-register" role="tabpanel">

                                        {% endif %}
                                    {% endif %}
                                    #}
                                </div>{# <div class="tab-content mt-3"> #}

                            </div>{# <div class="card-body"> #}
                        </div>{# <div class="card"> #}

                    </div>{# <div class="col-8 mx-auto"> #}
                </div>{# <div class="row"> #}

                <div class="row">
                    <div class="col-12 my-4 text-center">
                        <button type="button" name="btn_submit" id="btn_submit" class="btn btn-primary">{% if (data.action == 'delete') %}{{ lang.DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.SAVE }}{%  endif %}</button>
                        <button type="button" name="btn_cancel" id="btn_cancel" class="btn btn-info" formnovalidate>{{ lang.BACK_TO_LIST }}</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ reg.id }}">

                {# Filters #}
                {% for filter_name, filter_data in filters %}
                    {% for filter_data_key, filter_data_data in filter_data %}
                        <input type="hidden" name="filters[{{ filter_name }}][{{ filter_data_key }}]" id="filter_{{ filter_name }}_{{ filter_data_key }}" value="{{ filter_data_data }}" />
                    {% endfor %}
                {% endfor %}
                {# Pagination #}
                {% for key, value in pagination %}
                    <input type="hidden" name="pagination[{{ key }}]" id="{{ key }}" value="{{ value }}" />
                {% endfor %}

                <input type="hidden" name="auth_token" value="{{ data.auth_token }}" />

            </form>

        </div>{# <div class="col-md-8 offset-md-2"> #}
    </div>{# <div class="row">#}

</div>{# <div class="container-fluid mb-4">#}

<div class="clear"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/assets/css/app/{{ config.app_skin }}/bootstrap-datetimepicker.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/form.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/js/app/{{ config.app_skin }}/jquery.mask.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/assets/js/app/{{ config.app_skin }}/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            {# app/accountFundForm.html.twig #}

            {# https://github.com/monim67/bootstrap-datetimepicker #}
            $('.datetimepicker').datetimepicker({
                "allowInputToggle": true,
                "showClose": true,
                "showClear": true,
                "showTodayButton": true,
                "format": "DD-MM-YYYY HH:mm:ss",
                icons: {
                    time: "far fa-clock",
                    today: "fas fa-calendar",
                    {#
                            https://getdatepicker.com/4/Options/#options
                            time: 'glyphicon glyphicon-time',
                            date: 'glyphicon glyphicon-calendar',
                            up: 'glyphicon glyphicon-chevron-up',
                            down: 'glyphicon glyphicon-chevron-down',
                            previous: 'glyphicon glyphicon-chevron-left',
                            next: 'glyphicon glyphicon-chevron-right',
                            today: 'glyphicon glyphicon-screenshot',
                            clear: 'glyphicon glyphicon-trash',
                            close: 'glyphicon glyphicon-remove'
                    #}
                }
            });

            {#$("#price").inputmask("9{1,6}.9{0,2}");#}
            $('.money').mask('000.000.000,00', {reverse: true});

        });
        (function($) {
            'use strict';

            $('.money').on('change', function() {
                //console.log( this.id, this.value );
                if ( this.id === 'debit' )
                {
                    //console.log( 'credit', $('#credit').val());
                    $('#credit').val( '0' );
                }
                else
                {
                    //console.log( 'debit', $('#debit').val());
                    $('#debit').val( '0' );
                }
            });

            $('#btn_submit').click(function(e) {

                $('#debit').css('display', 'none');
                var debit = $('#debit').cleanVal();
                $('#debit').val(debit);

                $('#credit').css('display', 'none');
                var credit = $('#credit').cleanVal();
                $('#credit').val(credit);

            });

        })(jQuery);
    </script>
    <script type="text/javascript">
        var folder = '{{ session[config['cookies_prefix']~'_folder'] }}';
        var entity = '{{ entity }}';
        var action = '{{ data.action }}';
        var cancel = '{{ cancel }}';
        var reg_id = '{{ reg.id }}';
        var l_errors_found = '{{ lang.ERRORS_FOUND }}';
        var l_form_has_errors = '{{ lang.ERRORS_FORM }}';
    </script>
    <script type="text/javascript" src="/assets/js/app/{{ config.app_skin }}/forms.js"></script>
    <script type="text/javascript" src="/assets/js/app/{{ config.app_skin }}/jquery.mask.js"></script>
    <script type="text/javascript" src="/assets/js/app/{{ config.app_skin }}/scrool-to-top.js"></script>
{% endblock %}
