{% extends 'app/' ~ config.app_skin ~ '/app.html.twig' %}

{% set entity = 'blog_article' %}

{% block title %} {{ parent() }} &bull; {% if (data.action == 'delete') %}{{ lang.BLOG_ARTICLE_DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.BLOG_ARTICLE_EDIT }}{%  endif %}{% endblock %}

{% block body %}

<div class="container-fluid mb-4">

    <a href="#" id="topofthepage"></a>

    <div class="col-md-8 offset-md-2 col-sm-12 my-4 p-2 rounded-3 font-weight-bold {% if (data.action == 'delete') %}is_delete{%  else %} bg-light{%  endif %}">
        {% if (data.action == 'delete') %}
            {{ lang.BLOG_ARTICLE_DELETE }}
        {% elseif (data.action == 'edit') %}
            {{ lang.BLOG_ARTICLE_EDIT }}
        {% elseif  (data.action == 'add') %}
            {{ lang.BLOG_ARTICLE_ADD }}
        {%  endif %}
        : {{ reg.name }}
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">

            <form id="item-form"
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
            >

                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">

                        <div id="box-result">
                            <div class="alert">
                            </div>
                        </div>
{#
<pre>
    {{ dump(data.langs) }}
</pre>
#}
                        <div class="card">

                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="details-tab"
                                           href="#tab-details"
                                           role="tab"
                                           aria-controls="details"
                                           aria-selected="true">
                                            {{ lang.BLOG_ARTICLE_TAB_DETAILS }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           id="seo-tab"
                                           href="#tab-seo"
                                           role="tab"
                                           aria-controls="seo"
                                           aria-selected="false">
                                            {{ lang.BLOG_ARTICLE_TAB_SEO }}
                                        </a>
                                    </li>
                                    {% for key, lang_tabs in data.langs %}
                                        <li class="nav-item">
                                            <a class="nav-link"
                                               id="article-{{ key }}-tab"
                                               href="#tab-article-{{ key }}"
                                               role="tab"
                                               {#aria-controls="article"#}
                                               aria-selected="false">
                                                {{ lang.BLOG_ARTICLE_TAB_ARTICLE }} - {{ lang_tabs.name }}{#{{ lang.BLOG_ARTICLE_TAB_ARTICLE }}#}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="card-body">

                                {# This shines in all tab-content #}
                                {% if data.action != 'add' and not reg.active %}
                                    <div class="row">
                                        <div class="col-9 mx-auto card-title-notactive">
                                            {{ lang.BLOG_ARTICLE_NOT_ACTIVE }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="tab-content mt-3">

                                    <div class="tab-pane fade show active p-3 {% if ( data.action == 'delete' ) or ( data.action == 'edit' and reg.active == '0') %}reg_not_active{% else %}reg_active{% endif %}" id="tab-details" role="tabpanel">

                                        {#<h5 class="card-title text-center">{{ lang.BLOG_ARTICLE_TAB_DETAILS }}</h5>#}

                                        <div class="row">
                                            <div class="col-md-8 offset-md-2">

                                                <div class="form-group">
                                                    <label class="col-12" for="category">{{ lang.BLOG_ARTICLE_CATEGORY }}:</label>
                                                    <select class="form-control"
                                                            id="category"
                                                            name="category"
                                                            {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                            value="{{ reg.category }}"
                                                            placeholder="{{ lang.SELECT }}">
                                                        {{ data.category_options | raw }}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="author">{{ lang.BLOG_ARTICLE_AUTHOR }}:</label>
                                                    <select class="form-control"
                                                            id="author"
                                                            name="author"
                                                            {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                            value="{{ reg.author }}"
                                                            placeholder="{{ lang.SELECT }}">
                                                        {{ data.author_options|raw }}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="date">{{ lang.BLOG_ARTICLE_DATE }}:</label>
                                                    <input type="text"
                                                           class="form-control datepicker"
                                                           id="date"
                                                           name="date"
                                                           minlength="10"
                                                           maxlength="10"
                                                           size="7"
                                                           {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                           value="{{ reg.date | date("d-m-Y") }}"
                                                           placeholder="{{ lang.ENTER_DATE }}"
                                                           aria-labelledby="dateAriaDesc">
                                                </div>
                                                <span id="dateAriaDesc" class="d-none">{{ lang.NAME }}</span>

                                                <div class="form-group">
                                                    {# File upload start #}
                                                    {# Files labels names #}
                                                    {% set labels = [ "", lang.BLOG_ARTICLE_PICTURE_THUMB, lang.BLOG_ARTICLE_PICTURE] %}{# start with "" because array indexes starts with 0 #}
                                                    {# Using for indexes matching twig files array and php $files array#}
                                                    {# js expects this index #}
                                                    {% for i in 1..files|length %}
                                                        {# reg.picture #}
                                                        {# Files hidden field - Database field name #}
                                                        {#<input type="hidden" name="{{ files[i].view_array_name }}[{{ files[i].view_field }}]" id="{{ files[i].input_id }}" value="{{ attribute(_context[files[i].view_array_name], files[i].view_field) }}" />#}
                                                        {# Files hidden field - File name and extension #}
                                                        <input type="hidden" name="{{ files[i].input_name }}_name" id="{{ files[i].input_id }}_name" value="{{ files[i].file_name }}" />
                                                        <input type="hidden" name="{{ files[i].input_name }}_extension" id="{{ files[i].input_id }}_extension" value="{{ files[i].file_extension }}" />
                                                        {% if ( data.action != 'delete' ) %}
                                                            <div id="file-div-{{ i }}" class="form-group file-div" data-item="{{ i }}">
                                                                <label class="control-label" for="file_input_{{ i }}">{{ labels[i] }}:</label>
                                                                <div class="row">
                                                                    <div class="col-8 mx-auto">
                                                                        <div id="file-holder-{{ i }}" class="dropBox" title="{{ lang.FILE_CLICK_DROP_IMAGE_CHANGE }}">
                                                                        </div>
                                                                        <div id="file-box-{{ i }}" class="fileBox">
                                                                            <div id="dropBox_{{ i }}" class="dropBox dropBoxdrop mx-auto">
                                                                                <p>{{ lang.FILE_DROP_SELECT }}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="fileBox_{{ i }}" style="display: none">
                                                                    <input type="file"
                                                                           name="file_input_{{ i }}"
                                                                           id="file_input_{{ i }}"
                                                                           data-item="{{ i }}"
                                                                            {# multiple #} />
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            <label class="control-label" for="file_upload">{{ labels[i] }}:</label>
                                                            <div class="row">
                                                                <div class="col-8 mx-auto">
                                                                    <div id="file-holder-{{ i }}">
                                                                        <img src="{{ files[i].file_link }}"
                                                                             class="img-fluid"
                                                                             style="width: 100%;">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {# File upload end #}
                                                </div>
                                                <div id="blog_article_picture_size">{{ lang.BLOG_ARTICLE_PICTURE_SIZE }}</div>

                                                <div class="form-group">
                                                    <label class="col-12" for="ordinal">{{ lang.BLOG_ARTICLE_ORDINAL }}:</label>
                                                    <select class="form-control"
                                                            id="ordinal"
                                                            name="ordinal"
                                                            value="{{ reg.ordinal }}"
                                                            {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                            placeholder="{{ lang.SELECT }}">
                                                        {{ data.ordinal_options | raw }}
                                                    </select>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-1 align-content-end">
                                                        <label class="switch align-self-start">
                                                            <input type="checkbox"
                                                                   class="switch_input"
                                                                   id="featured"
                                                                   name="featured"
                                                                   {% if (reg.featured == '1') %}checked="checked"{%  endif %}
                                                                   value="{{ reg.featured }}"
                                                            >
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-label col-10 ml-20 my-auto mx-right" for="featured">{{ lang.BLOG_ARTICLE_FEATURED }}</div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-1 align-content-end">
                                                        <label class="switch align-self-start">
                                                            <input type="checkbox"
                                                                   class="switch_input"
                                                                   id="active"
                                                                   name="active"
                                                                   {% if (reg.active == '1') %}checked="checked"{%  endif %}
                                                                   value="{{ reg.active }}"
                                                            >
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-label col-10 ml-20 my-auto mx-right" for="active">{{ lang.BLOG_ARTICLE_ACTIVE }}</div>
                                                </div>

                                            </div>{# <div class="col-md-8 offset-md-2"> #}
                                        </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show active p-3" id="tab-details" role="tabpanel"> #}

                                    <div class="tab-pane fade show p-3 {% if reg.active %}reg_active{% else %}reg_not_active{% endif %}" id="tab-seo" role="tabpanel">

                                        {#<h5 class="card-title text-center">{{ lang.BLOG_ARTICLE_TAB_SEO }}</h5>#}

                                        <div class="col-9 mx-auto">
                                            <div class="row">


                                            </div>{# <div class="col-md-8 offset-md-2"> #}
                                        </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show active p-3" id="tab-details" role="tabpanel"> #}

                                    {% for key, lang_show in data.langs %}

                                        <div class="tab-pane fade show p-3 {% if reg.active %}reg_active{% else %}reg_not_active{% endif %}" id="tab-article-{{ key }}" role="tabpanel">

                                            <h5 class="card-title text-center">{{ lang.name }}</h5>{# {{ lang.BLOG_ARTICLE_TAB_ARTICLE }} -  #}

                                            <div class="row">
                                                <div class="col-9 mx-auto">

                                                    <div class="form-group">
                                                        <label class="col-12" for="title">{{ lang.BLOG_ARTICLE_TITLE }}:</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="title_{{ key }}"
                                                               name="title_{{ key }}"
                                                               minlength="2"
                                                               maxlength="65"
                                                               {% if user_group == '1' or user_group == '2' %}{% else %}readonly="readonly"{% endif %}
                                                               value="{{ lang_show.article.title }}"
                                                               placeholder="{{ lang.ENTER_TITLE }}"
                                                               aria-describedby="titleAriaDesc"
                                                        >
                                                    </div>
                                                    <span id="titleAriaDesc" class="d-none">{{ lang.BLOG_ARTICLE_TITLE_DESC }}</span>

                                                    <div class="form-group">
                                                        <label class="col-12" for="metadescription">{{ lang.BLOG_ARTICLE_DESCRIPTION }}:</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="metadescription_{{ key }}"
                                                               name="metadescription_{{ key }}"
                                                               minlength="2"
                                                               maxlength="158"
                                                               {% if user_group == '1' or user_group == '2' %}{% else %}readonly="readonly"{% endif %}
                                                               value="{{ lang_show.article.metadescription }}"
                                                               placeholder="{{ lang.ENTER_DESCRIPTION }}"
                                                               aria-describedby="metadescriptionAriaDesc"
                                                        >
                                                    </div>
                                                    <span id="metadescriptionAriaDesc" class="d-none">{{ lang.BLOG_ARTICLE_DESCRIPTION_DESC }}</span>

                                                    <div class="form-group">
                                                        <label class="col-12" for="slug">{{ lang.BLOG_ARTICLE_SLUG }}:</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="slug_{{ key }}"
                                                               name="slug_{{ key }}"
                                                               minlength="2"
                                                               maxlength="100"
                                                               {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                               value="{{ lang_show.article.slug }}"
                                                               placeholder="{{ lang.ENTER_TEXT }}"
                                                               aria-describedby="slugAriaDesc"
                                                        >
                                                    </div>
                                                    <span id="slugAriaDesc" class="d-none">{{ lang.BLOG_ARTICLE_SLUG_DESC }}</span>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="form-label" for="article">{{ lang.BLOG_ARTICLE_TEXT }}:</label>
                                                        <textarea
                                                                class="form-control"
                                                                id="article_{{ key }}"
                                                                name="article_{{ key }}"
                                                                {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                                style="height: 300px;"
                                                                placeholder="">{{ lang_show.article.article | raw }}</textarea>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-12" for="picture_alt_text">{{ lang.BLOG_ARTICLE_PICTURE_ALT_TEXT }}:</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="picture_alt_text_{{ key }}"
                                                               name="picture_alt_text_{{ key }}"
                                                               minlength="2"
                                                               maxlength="255"
                                                               {% if user_group == '1' or user_group == '2' %}{% else %}readonly="readonly"{% endif %}
                                                               value="{{ lang_show.article.picture_alt_text }}"
                                                               placeholder="{{ lang.ENTER_TEXT }}"
                                                               aria-describedby="pictureAltTextAriaDesc"
                                                        >
                                                    </div>
                                                    <span id="pictureAltTextAriaDesc" class="d-none">{{ lang.BLOG_ARTICLE_PICTURE_ALT_TEXT_DESC }}</span>

                                                    <div class="article_text_sample">
                                                        <pre>{{ data.article_text_sample }}</pre>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-12" for="faq_title">{{ lang.BLOG_ARTICLES_FAQ_TITLE }}:</label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="faq_title_{{ key }}"
                                                               name="faq_title_{{ key }}"
                                                               {#minlength="2"#}
                                                               maxlength="160"
                                                               {% if user_group == '1' or user_group == '2' %}{% else %}readonly="readonly"{% endif %}
                                                               value="{{ lang_show.article.faq_title }}"
                                                               placeholder="{{ lang.ENTER_TITLE }}"
                                                               aria-describedby="faqTitleAriaDesc"
                                                        >
                                                    </div>
                                                    <span id="faqTitleAriaDesc" class="d-none">{{ lang.BLOG_ARTICLES_FAQ_TITLE_DESC }}</span>

                                                    {% for i in 1..5 %}

                                                                <div class="faq_div">

                                                                    <div class="faq_div_title">
                                                                        {{ lang.BLOG_ARTICLE_FAQ }} {{ i }}
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="col-12" for="faq_question_{{ i }}">{{ lang.BLOG_ARTICLE_FAQ_QUESTION }}:</label>
                                                                        <input type="text"
                                                                               class="form-control"
                                                                               id="faq_question_{{ key }}_{{ i }}"
                                                                               name="faq_question_{{ key }}_{{ i }}"
                                                                               maxlength="250"
                                                                               {% if user_group == '1' or user_group == '2' %}{% else %}readonly="readonly"{% endif %}
                                                                               value="{{ lang_show.faq[i].question | raw }}"
                                                                               placeholder="{{ lang.ENTER_TEXT }}"
                                                                        >
                                                                    </div>

                                                                    <div class="form-group" style="width: 100%;">
                                                                        <label class="form-label" for="faq_reply_{{ i }}">{{ lang.BLOG_ARTICLE_FAQ_REPLY }}:</label>
                                                                        <textarea
                                                                                class="form-control"
                                                                                id="faq_reply_{{ key }}_{{ i }}"
                                                                                name="faq_reply_{{ key }}_{{ i }}"
                                                                                {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                                            style="height: 300px;"
                                                                                placeholder="">{{ lang_show.faq[i].reply | raw }}</textarea>
                                                                    </div>

                                                                </div>
                                                    {% endfor %}

                                                </div>{# <div class="col-9 mx-auto">#}
                                            </div>{# <div class="row">#}

                                        </div>{# <div class="tab-pane fade show p-3" id="tab-article-{{ key }}" role="tabpanel">#}
                                    {% endfor %}

                                </div>{# <div class="tab-content mt-3"> #}

                            </div>{# <div class="card-body"> #}
                        </div>{# <div class="card"> #}

                    </div>{# <div class="col-8 mx-auto"> #}
                </div>{# <div class="row"> #}

                <div class="row">
                    <div class="col-12 my-4 text-center">
                        <button type="button" name="btn_submit" id="btn_submit" class="btn btn-primary">{% if (data.action == 'delete') %}{{ lang.DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.SAVE }}{%  endif %}</button>
                        <button type="button" name="btn_cancel" id="btn_cancel" class="btn btn-info" formnovalidate>{{ lang.BACK_TO_LIST }}</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ reg.id }}">

                {# Filters #}
                {% for filter_name, filter_data in filters %}
                    {% for filter_data_key, filter_data_data in filter_data %}
                        <input type="hidden" name="filters[{{ filter_name }}][{{ filter_data_key }}]" id="filter_{{ filter_name }}_{{ filter_data_key }}" value="{{ filter_data_data }}" />
                    {% endfor %}
                {% endfor %}
                {# Pagination #}
                {% for key, value in pagination %}
                    <input type="hidden" name="pagination[{{ key }}]" id="{{ key }}" value="{{ value }}" />
                {% endfor %}

                <input type="hidden" name="auth_token" value="{{ data.auth_token }}" />

            </form>

        </div>{# <div class="col-md-8 offset-md-2"> #}
    </div>{# <div class="row">#}

</div>{# <div class="container-fluid mb-4">#}

<div class="clear"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/form.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/input_switch.css') }}" type="text/css" />
    {# File upload start #}
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/files.css') }}" type="text/css" />
    <style>
        #blog_article_picture_size {
            margin: 20px;
        }
        .faq_div {
            margin-top: 20px;
            padding: 20px;
            border: solid 1px grey;
            border-radius: 6px;
            font-weight: bold;
        }
    </style>
    {# File upload end #}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>
    <script>
        $(document).ready(function(){

            let today = new Date();
            //let t_date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+(today.getDate());
            //var time = today.getHours() + ":" + today.getMinutes();
            //var dateTime = date+' '+time;
            //console.log(t_date);
            $('.datepicker').datepicker({
                language: 'es',
                format: 'dd-mm-yyyy',
                todayBtn: true,
                todayHighlight: true,
                startDate: today,
                //defaultDate: "-1m",
                autoclose: true,
            });

        });
        (function($) {
            'use strict';

        })(jQuery);
    </script>
    <script type="text/javascript">
        var folder = '{{ session[config['cookies_prefix']~'_folder'] }}';
        var entity = '{{ entity }}';
        var action = '{{ data.action }}';
        var cancel = '{{ cancel }}';
        var reg_id = '{{ reg.id }}';
        var l_errors_found = '{{ lang.ERRORS_FOUND }}';
        var l_form_has_errors = '{{ lang.ERRORS_FORM }}';
    </script>
    {# File upload start #}
    <script type="text/javascript">
        {# Files texts #}
        var l_file_drop_here = '{{ lang.FILE_DROP_HERE }}';
        var l_file_drop_select = '{{ lang.FILE_DROP_SELECT }}';
        var l_file_drop_click = '{{ lang.FILE_DROP_CLICK }}';
        var l_file_drop_selected = '{{ lang.FILE_DROP_SELECTED }}';
        var l_err_ajax_error = '{{ lang.ERR_AJAX_ERROR }}';
        var l_file_not_suitable = '{{ lang.FILE_NOT_SUITABLE }}';
        var l_file_max_size = '{{ lang.ERR_FILE_TOO_BIG }}';
        var file_max_size = '{{ data.upload_max_file_size }}';
        {# Make a js array with twig array#}
        var files_array_input_id = 0;
        var files_array_input_name = 1;
        var files_array_required = 2;
        var files_array_file_name = 3;
        var files_array_file_extension = 4;
        var files_array_file_link = 5;
        var files_array_image_height = 6;
        var files_array_image_width = 7;
        var files_array = new Array("");
        {% for file in files %}
        var file_item = new Array(
            "{{ file.input_id }}",
            "{{ file.input_name }}",
            "{{ file.input_required }}",
            "{{ file.file_name }}",
            "{{ file.file_extension }}",
            "{{ file.file_link }}",
            "{{ file.image_height }}",
            "{{ file.image_width }}",
        );
        files_array.push(file_item);
        {% endfor %}
        var num_files = files_array.length - 1;
        {#
        files_array.forEach(myFunction);
        function myFunction(value) {
            //console.log(value);
        }
        #}
    </script>
    {# File upload end #}
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/input_switch.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/scrool-to-top.js') }}"></script>
{% endblock %}
