{% extends 'app/' ~ config.app_skin ~ '/app.html.twig' %}

{% set entity = 'credential_type' %}

{% block title %} {{ parent() }} &bull; {% if (data.action == 'delete') %}{{ lang.CREDENTIAL_TYPE_DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.CREDENTIAL_TYPE_EDIT }}{%  endif %}{% endblock %}

{% block body %}

<div class="container-fluid mb-4">

    <a href="#" id="topofthepage"></a>

    <div class="col-md-8 offset-md-2 col-sm-12 my-4 p-2 rounded-3 font-weight-bold {% if (data.action == 'delete') %}is_delete{%  else %} bg-light{%  endif %}">
        {% if (data.action == 'delete') %}
            {{ lang.CREDENTIAL_TYPE_DELETE }}
        {% elseif (data.action == 'edit') %}
            {{ lang.CREDENTIAL_TYPE_EDIT }}
        {% elseif  (data.action == 'add') %}
            {{ lang.CREDENTIAL_TYPE_ADD }}
        {%  endif %}
        : {{ reg.name }}
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">

            <form id="item-form"
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
            >

                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">

                        <div id="box-result">
                            <div class="alert">
                            </div>
                        </div>

                        <div class="card">

                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="details-tab"
                                           href="#tab-details"
                                           role="tab"
                                           aria-controls="details"
                                           aria-selected="true">
                                            {{ lang.CREDENTIAL_TYPE_TAB_DETAILS }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link"
                                           id="data-tab"
                                           href="#tab-data"
                                           role="tab"
                                           aria-controls="register"
                                           aria-selected="false">
                                            {{ lang.CREDENTIAL_TYPE_TAB_DATA }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="card-body">

                                {# This shines in all tab-content #}
                                {% if data.action != 'add' and not reg.active %}
                                    <div class="row">
                                        <div class="col-9 mx-auto card-title-notactive">
                                            {{ lang.CREDENTIAL_TYPE_NOT_ACTIVE }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="tab-content mt-3">

                                    <div class="tab-pane fade show active p-3 {% if ( data.action == 'delete' ) or ( data.action == 'edit' and reg.active == '0') %}reg_not_active{% else %}reg_active{% endif %}" id="tab-details" role="tabpanel">

                                        {#<h5 class="card-title text-center">{{ lang.CREDENTIAL_TYPE_TAB_DETAILS }}</h5>#}

                                        <div class="row">
                                            <div class="col-md-8 offset-md-2">

                                                <div class="form-group">
                                                    <label class="col-12" for="name">{{ lang.CREDENTIAL_TYPE_NAME }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="name"
                                                           name="name"
                                                           minlength="2"
                                                           maxlength="100"
                                                           {% if user_group == '1' or user_group == '2' %}{% else %}readonly="readonly"{% endif %}
                                                           value="{{ reg.name }}"
                                                           placeholder="{{ lang.ENTER_NAME }}"
                                                           aria-describedby="nameAriaDesc"
                                                    >
                                                </div>
                                                <span id="nameAriaDesc" class="d-none">{{ lang.CREDENTIAL_TYPE_NAME_DESC }}</span>

                                                <div class="form-group">
                                                    <label class="col-12" for="n8n_name">{{ lang.CREDENTIAL_TYPE_N8N_NAME }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="n8n_name"
                                                           name="n8n_name"
                                                           minlength="2"
                                                           maxlength="50"
                                                           {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                           value="{{ reg.n8n_name }}"
                                                           placeholder="{{ lang.ENTER_NAME }}"
                                                           aria-describedby="n8nNameAriaDesc"
                                                    >
                                                </div>
                                                <span id="n8nNameAriaDesc" class="d-none">{{ lang.CREDENTIAL_TYPE_USER_AGENT_DESC }}</span>

                                                <div class="form-group row">
                                                    <div class="col-1 align-content-end">
                                                        <label class="switch align-self-start">
                                                            <input type="checkbox"
                                                                   class="switch_input"
                                                                   id="active"
                                                                   name="active"
                                                                   {% if (reg.active == '1') %}checked="checked"{%  endif %}
                                                                   value="{{ reg.active }}"
                                                            >
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-label col-10 ml-20 my-auto mx-right" for="active">{{ lang.CREDENTIAL_TYPE_ACTIVE }}</div>
                                                </div>

                                            </div>{# <div class="col-md-8 offset-md-2"> #}
                                        </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show active p-3" id="tab-details" role="tabpanel"> #}

                                    <div class="tab-pane fade show p-3 {% if reg.active %}reg_active{% else %}reg_not_active{% endif %}" id="tab-data" role="tabpanel">

                                        {#<h5 class="card-title text-center">{{ lang.LANG_TEXT_TAB_DATA }}</h5>#}

                                            <div class="row">
                                                <div class="col-8 mx-auto">

                                                    <div class="form-group">
                                                        <div class="col-12 my-10 text-muted">{{ lang.CREDENTIAL_TYPE_DATA_DELETE_COMMENT }}</div>
                                                        <input type="hidden" id="credential_type_data_index" class="credential_type_data_index" value="{{ data.credential_types_data | length }}" />

                                                            <div id="credential_type_data_inputs" style="display: flex; flex-direction: column;">
                                                                {% for credential_type_data in data.credential_types_data %}
                                                                    <div id="credential_type_data_inputs_{{ credential_type_data.id }}" style="display: flex; flex-direction: column;">
                                                                        <label class="col-12 mt-20" for="credential_type_data_n8n_name_{{ credential_type_data.id }}">{{ lang.CREDENTIAL_TYPE_DATA_FIELD }}:</label>
                                                                        <div style="margin-top: 5px; display: flex; flex-direction: row;">
                                                                            <input type="text"
                                                                                   class="form-control"
                                                                                   id="credential_type_data_n8n_name_{{ credential_type_data.id }}"
                                                                                   name="credential_type_data[{{ credential_type_data.id }}][name]"
                                                                                   minlength="2"
                                                                                   maxlength="100"
                                                                                   {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                                                   value="{{ credential_type_data.name }}"
                                                                                   placeholder="{{ lang.ENTER_NAME }}"
                                                                            />
                                                                            <input type="text"
                                                                                   class="form-control"
                                                                                   id="credential_type_data_n8n_field_{{ credential_type_data.id }}"
                                                                                   name="credential_type_data[{{ credential_type_data.id }}][field]"
                                                                                   minlength="2"
                                                                                   maxlength="100"
                                                                                   {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                                                   value="{{ credential_type_data.field }}"
                                                                                   placeholder="{{ lang.ENTER_TEXT }}"
                                                                            />
                                                                            <button type="button" class="btn btn-danger btn-sm delete-credential" data-item="{{ credential_type_data.id }}">{{ lang.DELETE }}</button>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                            <button type="button" id="add_credential_data_field" class="mt-30 btn btn-info item-add">{{ lang.CREDENTIAL_TYPE_DATA_ADD }}</button>
                                                    </div>

                                                </div>{# <div class="col-8 mx-auto"> #}
                                            </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show p-3" id="tab-data" role="tabpanel"> #}
                                </div>{# <div class="tab-content mt-3"> #}

                            </div>{# <div class="card-body"> #}
                        </div>{# <div class="card"> #}

                    </div>{# <div class="col-8 mx-auto"> #}
                </div>{# <div class="row"> #}

                <div class="row">
                    <div class="col-12 my-4 text-center">
                        <button type="button" name="btn_submit" id="btn_submit" class="btn btn-info">{% if (data.action == 'delete') %}{{ lang.DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.SAVE }}{%  endif %}</button>
                        <button type="button" name="btn_cancel" id="btn_cancel" class="btn btn-info" formnovalidate>{{ lang.BACK_TO_LIST }}</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ reg.id }}">

                {# Filters #}
                {% for filter_name, filter_data in filters %}
                    {% for filter_data_key, filter_data_data in filter_data %}
                        <input type="hidden" name="filters[{{ filter_name }}][{{ filter_data_key }}]" id="filter_{{ filter_name }}_{{ filter_data_key }}" value="{{ filter_data_data }}" />
                    {% endfor %}
                {% endfor %}
                {# Pagination #}
                {% for key, value in pagination %}
                    <input type="hidden" name="pagination[{{ key }}]" id="{{ key }}" value="{{ value }}" />
                {% endfor %}

                <input type="hidden" name="auth_token" value="{{ data.auth_token }}" />

            </form>

        </div>{# <div class="col-md-8 offset-md-2"> #}
    </div>{# <div class="row">#}

</div>{# <div class="container-fluid mb-4">#}

<div class="clear"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/form.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/input_switch.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            {# app/credentialTypeForm.html.twig #}
        });
        (function($) {
            'use strict';

            let credential_type_data_index = $("#credential_type_data_inputs input[id^='credential_type_data_n8n_name']").length;

            $("#add_credential_data_field").on("click", function () {

                credential_type_data_index++;

                let $label = $("<label>", {
                    class: "col-12 mt-20",
                    for: "credential_type_data_n8n_name_" + credential_type_data_index,
                    text: "{{ lang.CREDENTIAL_TYPE_DATA_FIELD }}:" // puedes usar lang.CREDENTIAL_TYPE_DATA_FIELD si lo tienes en JS
                });

                let $div = $("<div>", {
                    style: "margin-top: 5px; display: flex; flex-direction: row;"
                });

                let $inputName = $("<input>", {
                    type: "text",
                    class: "form-control",
                    id: "credential_type_data_n8n_name_" + credential_type_data_index,
                    name: "credential_type_data[" + credential_type_data_index + "][name]",
                    minlength: 2,
                    maxlength: 100,
                    placeholder: "{{ lang.ENTER_NAME }}"
                });

                let $inputField = $("<input>", {
                    type: "text",
                    class: "form-control",
                    id: "credential_type_data_n8n_field_" + credential_type_data_index,
                    name: "credential_type_data[" + credential_type_data_index + "][field]",
                    minlength: 2,
                    maxlength: 100,
                    placeholder: "{{ lang.ENTER_TEXT }}"
                });

                let $deleteBtn = $("<button>", {
                    type: "button",
                    class: "btn btn-danger btn-sm delete-credential",
                    "data-item": credential_type_data_index,
                    text: "{{ lang.DELETE }}"
                });

                // Añadir inputs al div
                $div.append($inputName).append($inputField);

                // Insertar label y div en el contenedor
                $("#credential_type_data_inputs").append($label).append($div);
            });

            $(".delete-credential").on("click", function () {
                let itemId = $(this).data("item");
                //console.log('Click on item', itemId);
                let $group = $("#credential_type_data_inputs_" + itemId);
                $group.remove();
            });

        })(jQuery);
    </script>
    <script type="text/javascript">
        var folder = '{{ session[config['cookies_prefix']~'_folder'] }}';
        var entity = '{{ entity }}';
        var action = '{{ data.action }}';
        var cancel = '{{ cancel }}';
        var reg_id = '{{ reg.id }}';
        var l_errors_found = '{{ lang.ERRORS_FOUND }}';
        var l_form_has_errors = '{{ lang.ERRORS_FORM }}';
    </script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/input_switch.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/scrool-to-top.js') }}"></script>
{% endblock %}
