{% extends 'app/' ~ config.app_skin ~ '/app.html.twig' %}

{% set entity = 'credential' %}

{% block title %} {{ parent() }} &bull; {% if (data.action == 'delete') %}{{ lang.CREDENTIAL_DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.CREDENTIAL_EDIT }}{%  endif %}{% endblock %}

{% block body %}

<div class="container-fluid mb-4">

    <a href="#" id="topofthepage"></a>

    <div class="col-md-8 offset-md-2 col-sm-12 my-4 p-2 rounded-3 font-weight-bold {% if (data.action == 'delete') %}is_delete{%  else %} bg-light{%  endif %}">
        {% if (data.action == 'delete') %}
            {{ lang.CREDENTIAL_DELETE }}
        {% elseif (data.action == 'edit') %}
            {{ lang.CREDENTIAL_EDIT }}
        {% elseif  (data.action == 'add') %}
            {{ lang.CREDENTIAL_ADD }}
        {%  endif %}
        : {{ reg.name }}
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">

            <form id="item-form"
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
            >

                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">

                        <div id="box-result">
                            <div class="alert">
                            </div>
                        </div>

                        <div class="card">

                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="details-tab"
                                           href="#tab-details"
                                           role="tab"
                                           aria-controls="details"
                                           aria-selected="true">
                                            {{ lang.CREDENTIAL_TAB_DETAILS }}
                                        </a>
                                    </li>
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   id="data-tab"
                                                   href="#tab-data"
                                                   role="tab"
                                                   aria-controls="data"
                                                   aria-selected="false">
                                                    {{ lang.CREDENTIAL_TAB_DATA }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="card-body">

                                {# This shines in all tab-content #}
                                {% if data.action != 'add' and not reg.active %}
                                    <div class="row">
                                        <div class="col-9 mx-auto card-title-notactive">
                                            {{ lang.CREDENTIAL_NOT_ACTIVE }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="tab-content mt-3">

                                    <div class="tab-pane fade show active p-3 {% if ( data.action == 'delete' ) or ( data.action == 'edit' and reg.active == '0') %}reg_not_active{% else %}reg_active{% endif %}" id="tab-details" role="tabpanel">

                                        {#<h5 class="card-title text-center">{{ lang.CREDENTIAL_TAB_DETAILS }}</h5>#}

                                        <div class="row">
                                            <div class="col-md-8 offset-md-2">

                                                <div class="form-group">
                                                    <label class="col-12" for="name">{{ lang.CREDENTIAL_NAME }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="name"
                                                           name="name"
                                                           minlength="2"
                                                           maxlength="100"
                                                           {% if user_group == '1' or user_group == '2' %}{% else %}readonly="readonly"{% endif %}
                                                           value="{{ reg.name }}"
                                                           placeholder="{{ lang.ENTER_NAME }}"
                                                           aria-describedby="nameAriaDesc"
                                                    >
                                                </div>
                                                <span id="nameAriaDesc" class="d-none">{{ lang.CREDENTIAL_NAME_DESC }}</span>

                                                <div class="form-group">
                                                    {% if (data.action != 'delete') %}
                                                        <label class="col-12" for="account">{{ lang.ACCOUNT }}:</label>
                                                        <select class="form-control"
                                                                id="account"
                                                                name="account"
                                                                {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                                value="{{ reg.account }}"
                                                                placeholder="{{ lang.ACCOUNT_SELECT }}">
                                                            {{ data.account_options | raw }}
                                                        </select>
                                                    {% else %}
                                                        <label class="control-label" for="account">{{ lang.ACCOUNT }}:</label>
                                                        {{ reg.account | getAccountName }}
                                                    {% endif %}
                                                </div>

                                                <div class="form-group">
                                                    {% if (data.action == 'add') %}
                                                        <label class="col-12" for="credential_type">{{ lang.CREDENTIAL_TYPE }}:</label>
                                                        <select class="form-control"
                                                                id="credential_type"
                                                                name="credential_type"
                                                                {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                                value="{{ reg.credential_type }}"
                                                                placeholder="{{ lang.CREDENTIAL_TYPE_SELECT }}">
                                                            {{ data.credential_type_options | raw }}
                                                        </select>
                                                    {% else %}
                                                        <label class="control-label" for="credential_type">{{ lang.CREDENTIAL_TYPE }}:</label>
                                                        {{ reg.credential_type | getCredentialTypeName }}
                                                        <input type="hidden" name="credential_type" value="{{ reg.credential_type }}">
                                                    {% endif %}
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="n8n_id">{{ lang.CREDENTIAL_N8N_ID }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="n8n_id"
                                                           name="n8n_id"
                                                           minlength="2"
                                                           maxlength="100"
                                                           {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                           value="{{ reg.n8n_id }}"
                                                           placeholder="{{ lang.ENTER_TEXT }}"
                                                           aria-describedby="n8nIdAriaDesc"
                                                    >
                                                </div>
                                                <span id="n8nIdAriaDesc" class="d-none">{{ lang.CREDENTIAL_CLIENT_ID_DESC }}</span>

                                                <div class="form-group">
                                                    <label class="col-12" for="n8n_name">{{ lang.CREDENTIAL_N8N_NAME }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="n8n_name"
                                                           name="n8n_name"
                                                           minlength="2"
                                                           maxlength="100"
                                                           {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                           value="{{ reg.n8n_name }}"
                                                           placeholder="{{ lang.ENTER_TEXT }}"
                                                           aria-describedby="n8nIdAriaDesc"
                                                    >
                                                </div>
                                                <span id="n8nIdAriaDesc" class="d-none">{{ lang.CREDENTIAL_CLIENT_NAME_DESC }}</span>

                                                <div class="form-group">
                                                    <label class="col-12" for="notes">{{ lang.CREDENTIAL_NOTES }}:</label>
                                                    <div class="input-group mb-3">
                                                        <textarea class="form-control"
                                                                  id="notes"
                                                                  name="notes"
                                                                  {#minlength="1"#}
                                                                {#maxlength="50"#}
                                                                {#disabled="disabled"#}
                                                                  value="{{ reg.notes }}"
                                                                  placeholder="{{ lang.CREDENTIAL_NOTES }}">
                                                        </textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <div class="col-1 align-content-end">
                                                        <label class="switch align-self-start">
                                                            <input type="checkbox"
                                                                   class="switch_input"
                                                                   id="active"
                                                                   name="active"
                                                                   {% if (reg.active == '1') %}checked="checked"{%  endif %}
                                                                   value="{{ reg.active }}"
                                                            >
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-label col-10 ml-20 my-auto mx-right" for="active">{{ lang.CREDENTIAL_ACTIVE }}</div>
                                                </div>

                                            </div>{# <div class="col-md-8 offset-md-2"> #}
                                        </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show active p-3" id="tab-details" role="tabpanel"> #}

                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}

                                            <div class="tab-pane fade show p-3 {% if reg.active %}reg_active{% else %}reg_not_active{% endif %}" id="tab-data" role="tabpanel">

                                            <h5 class="card-title text-center">{{ lang.CREDENTIAL_TAB_DATA }}</h5>

                                            <div class="row">
                                                <div class="col-9 mx-auto">

                                                    <div id="credential_data_inputs" style="display: flex; flex-direction: column; border: solid 1px transparent;">
                                                        {#{{ dump(credential_datas) }}#}
                                                        {% for key, credential_data in credential_datas %}
                                                            <div id="credential_data_inputs_{{ loop.index }}" style="display: flex; flex-direction: column; border: solid 1px transparent;">
                                                                <div style="margin-top: 15px; display: flex; flex-direction: row; align-items: center; border: solid 1px transparent;">
                                                                    <label class="col-2 mt-20" for="credential_data_field_{{ key }}">{{ credential_data.field_name }}:</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           id="credential_data_field_{{ key }}"
                                                                           name="credential_data[{{ key }}][value]"
                                                                           minlength="2"
                                                                           maxlength="100"
                                                                           {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                                           value="{{ credential_data.field_value }}"
                                                                           placeholder="{{ lang.ENTER_VALUE }}"
                                                                    />
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>

                                                </div>{# <div class="col-9 mx-auto">#}
                                            </div>{# <div class="row">#}

                                            </div>{# <div class="tab-pane fade show p-3" id="tab-register" role="tabpanel">#}

                                        {% endif %}
                                    {% endif %}

                                </div>{# <div class="tab-content mt-3"> #}

                            </div>{# <div class="card-body"> #}
                        </div>{# <div class="card"> #}

                    </div>{# <div class="col-8 mx-auto"> #}
                </div>{# <div class="row"> #}

                <div class="row">
                    <div class="col-12 my-4 text-center">
                        <button type="button" name="btn_submit" id="btn_submit" class="btn btn-info">{% if (data.action == 'delete') %}{{ lang.DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.SAVE }}{%  endif %}</button>
                        <button type="button" name="btn_cancel" id="btn_cancel" class="btn btn-info" formnovalidate>{{ lang.BACK_TO_LIST }}</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ reg.id }}">

                {# Filters #}
                {% for filter_name, filter_data in filters %}
                    {% for filter_data_key, filter_data_data in filter_data %}
                        <input type="hidden" name="filters[{{ filter_name }}][{{ filter_data_key }}]" id="filter_{{ filter_name }}_{{ filter_data_key }}" value="{{ filter_data_data }}" />
                    {% endfor %}
                {% endfor %}
                {# Pagination #}
                {% for key, value in pagination %}
                    <input type="hidden" name="pagination[{{ key }}]" id="{{ key }}" value="{{ value }}" />
                {% endfor %}

                <input type="hidden" name="auth_token" value="{{ data.auth_token }}" />

            </form>

        </div>{# <div class="col-md-8 offset-md-2"> #}
    </div>{# <div class="row">#}

</div>{# <div class="container-fluid mb-4">#}

<div class="clear"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/form.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/input_switch.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var folder = '{{ session[config['cookies_prefix']~'_folder'] }}';
        var entity = '{{ entity }}';
        var action = '{{ data.action }}';
        var cancel = '{{ cancel }}';
        var reg_id = '{{ reg.id }}';
        var l_errors_found = '{{ lang.ERRORS_FOUND }}';
        var l_form_has_errors = '{{ lang.ERRORS_FORM }}';
    </script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/input_switch.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/scrool-to-top.js') }}"></script>
{% endblock %}
