{% extends 'app/' ~ config.app_skin ~ '/app.html.twig' %}

{% set entity = 'n8n_warm_ip_account' %}

{% block title %} {{ parent() }} &bull; {% if (data.action == 'delete') %}{{ lang.N8N_WARM_IP_ACCOUNT_DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.N8N_WARM_IP_ACCOUNT_EDIT }}{%  endif %}{% endblock %}

{% block body %}

<div class="container-fluid mb-4">

    <a href="#" id="topofthepage"></a>

    <div class="col-md-8 offset-md-2 col-sm-12 my-4 p-2 rounded-3 font-weight-bold {% if (data.action == 'delete') %}is_delete{%  else %} bg-light{%  endif %}">
        {% if (data.action == 'delete') %}
            {{ lang.N8N_WARM_IP_ACCOUNT_DELETE }}
        {% elseif (data.action == 'edit') %}
            {{ lang.N8N_WARM_IP_ACCOUNT_EDIT }}
        {% elseif  (data.action == 'add') %}
            {{ lang.N8N_WARM_IP_ACCOUNT_ADD }}
        {%  endif %}
        : {{ reg.name }}
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">

            <form id="item-form"
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
            >

                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">

                        <div id="box-result">
                            <div class="alert">
                            </div>
                        </div>

                        <div class="card">

                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="details-tab"
                                           href="#tab-details"
                                           role="tab"
                                           aria-controls="details"
                                           aria-selected="true">
                                            {{ lang.N8N_WARM_IP_ACCOUNT_TAB_DETAILS }}
                                        </a>
                                    </li>
                                    {#
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   id="register-tab"
                                                   href="#tab-register"
                                                   role="tab"
                                                   aria-controls="register"
                                                   aria-selected="false">
                                                    {{ lang.N8N_WARM_IP_ACCOUNT_TAB_REGISTER }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    #}
                                </ul>
                            </div>

                            <div class="card-body">

                                {# This shines in all tab-content #}
                                {% if data.action != 'add' and not reg.active %}
                                    <div class="row">
                                        <div class="col-9 mx-auto card-title-notactive">
                                            {{ lang.N8N_WARM_IP_ACCOUNT_NOT_ACTIVE }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="tab-content mt-3">

                                    <div class="tab-pane fade show active p-3 {% if ( data.action == 'delete' ) or ( data.action == 'edit' and reg.active == '0') %}reg_not_active{% else %}reg_active{% endif %}" id="tab-details" role="tabpanel">

                                        {#<h5 class="card-title text-center">{{ lang.N8N_WARM_IP_ACCOUNT_TAB_DETAILS }}</h5>#}

                                        <div class="row">
                                            <div class="col-md-8 offset-md-2">

                                                <div class="form-group">
                                                    <label class="col-12" for="name">{{ lang.N8N_WARM_IP_ACCOUNT_NAME }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="name"
                                                           name="name"
                                                           minlength="2"
                                                           maxlength="100"
                                                           {% if user_group == '1' or user_group == '2' %}{% else %}readonly="readonly"{% endif %}
                                                           value="{{ reg.name }}"
                                                           placeholder="{{ lang.ENTER_NAME }}"
                                                           aria-describedby="nameAriaDesc"
                                                    >
                                                </div>
                                                <span id="nameAriaDesc" class="d-none">{{ lang.N8N_WARM_IP_ACCOUNT_NAME_DESC }}</span>

                                                <div class="form-group">
                                                    <label class="col-12" for="email">{{ lang.N8N_WARM_IP_ACCOUNT_EMAIL }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="email"
                                                           name="email"
                                                           minlength="6"
                                                           maxlength="191"
                                                           {% if user_group == '1' or user_group == '2' or data.action == 'delete' %}{% else %}readonly="readonly"{% endif %}
                                                           value="{{ reg.email }}"
                                                           placeholder="{{ lang.ENTER_EMAIL }}"
                                                           aria-describedby="emailAriaDesc"
                                                    >
                                                </div>
                                                <span id="emailAriaDesc" class="d-none">{{ lang.N8N_WARM_IP_ACCOUNT_EMAIL_DESC }}</span>

                                                <div class="form-group row">
                                                    <div class="col-1 align-content-end">
                                                        <label class="switch align-self-start">
                                                            <input type="checkbox"
                                                                   class="switch_input"
                                                                   id="active"
                                                                   name="active"
                                                                   {% if (reg.active == '1') %}checked="checked"{%  endif %}
                                                                   value="{{ reg.active }}"
                                                            >
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <div class="form-label col-10 ml-20 my-auto mx-right" for="active">{{ lang.N8N_WARM_IP_ACCOUNT_ACTIVE }}</div>
                                                </div>

                                            </div>{# <div class="col-md-8 offset-md-2"> #}
                                        </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show active p-3" id="tab-details" role="tabpanel"> #}
                                    {#
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}

                                            <div class="tab-pane fade show p-3 {% if reg.active %}reg_active{% else %}reg_not_active{% endif %}" id="tab-register" role="tabpanel">

                                            {#<h5 class="card-title text-center">{{ lang.LANG_TEXT_TAB_REGISTER }}</h5>

                                            <div class="col-9 mx-auto">
                                            <div class="row">

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="createdby">{{ lang.APP_CREATED_BY }}:</label>
                                                {{ reg.createdby }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="createddate">{{ lang.APP_CREATED_DATE }}:</label>
                                                {{ reg.createddate }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="updatedby">{{ lang.APP_UPDATED_BY }}:</label>
                                                {{ reg.updatedby }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="updateddate">{{ lang.APP_UPDATED_DATE }}:</label>
                                                {{ reg.updateddate }}
                                            </div>

                                            </div>{# <div class="row">
                                            </div>{# <div class="col-9 mx-auto">

                                            </div>{# <div class="tab-pane fade show p-3" id="tab-register" role="tabpanel">

                                        {% endif %}
                                    {% endif %}
                                    #}
                                </div>{# <div class="tab-content mt-3"> #}

                            </div>{# <div class="card-body"> #}
                        </div>{# <div class="card"> #}

                    </div>{# <div class="col-8 mx-auto"> #}
                </div>{# <div class="row"> #}

                <div class="row">
                    <div class="col-12 my-4 text-center">
                        <button type="button" name="btn_submit" id="btn_submit" class="btn btn-info">{% if (data.action == 'delete') %}{{ lang.DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.SAVE }}{%  endif %}</button>
                        <button type="button" name="btn_cancel" id="btn_cancel" class="btn btn-info" formnovalidate>{{ lang.BACK_TO_LIST }}</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ reg.id }}">

                {# Filters #}
                {% for filter_name, filter_data in filters %}
                    {% for filter_data_key, filter_data_data in filter_data %}
                        <input type="hidden" name="filters[{{ filter_name }}][{{ filter_data_key }}]" id="filter_{{ filter_name }}_{{ filter_data_key }}" value="{{ filter_data_data }}" />
                    {% endfor %}
                {% endfor %}
                {# Pagination #}
                {% for key, value in pagination %}
                    <input type="hidden" name="pagination[{{ key }}]" id="{{ key }}" value="{{ value }}" />
                {% endfor %}

                <input type="hidden" name="auth_token" value="{{ data.auth_token }}" />

            </form>

        </div>{# <div class="col-md-8 offset-md-2"> #}
    </div>{# <div class="row">#}

</div>{# <div class="container-fluid mb-4">#}

<div class="clear"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/form.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/input_switch.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var folder = '{{ session[config['cookies_prefix']~'_folder'] }}';
        var entity = '{{ entity }}';
        var action = '{{ data.action }}';
        var cancel = '{{ cancel }}';
        var reg_id = '{{ reg.id }}';
        var l_errors_found = '{{ lang.ERRORS_FOUND }}';
        var l_form_has_errors = '{{ lang.ERRORS_FORM }}';
    </script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/input_switch.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/scrool-to-top.js') }}"></script>
{% endblock %}
