{% extends 'app/' ~ config.app_skin ~ '/app.html.twig' %}

{% set entity = 'rag-document' %}

{% block title %} {{ parent() }} &bull; {% if (data.action == 'delete') %}{{ lang.RAG_DOCUMENT_DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.RAG_DOCUMENT_EDIT }}{%  endif %}{% endblock %}

{% block body %}

<div class="container-fluid mb-4">

    <a href="#" id="topofthepage"></a>

    <div class="col-md-8 offset-md-2 col-sm-12 my-4 p-2 rounded-3 font-weight-bold {% if (data.action == 'delete') %}is_delete{%  else %} bg-light{%  endif %}">
        {% if (data.action == 'delete') %}
            {{ lang.RAG_DOCUMENT_DELETE }}
        {% elseif (data.action == 'edit') %}
            {{ lang.RAG_DOCUMENT_EDIT }}
        {% elseif  (data.action == 'add') %}
            {{ lang.RAG_DOCUMENT_ADD }}
        {%  endif %}
        : {{ reg.name }}
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">

            <form id="item-form"
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
            >

                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">

                        <div id="box-result">
                            <div class="alert">
                            </div>
                        </div>

                        <div class="card">

                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="details-tab"
                                           href="#tab-details"
                                           role="tab"
                                           aria-controls="details"
                                           aria-selected="true">
                                            {{ lang.RAG_DOCUMENT_TAB_DETAILS }}
                                        </a>
                                    </li>
                                    {#
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   id="register-tab"
                                                   href="#tab-register"
                                                   role="tab"
                                                   aria-controls="register"
                                                   aria-selected="false">
                                                    {{ lang.RAG_DOCUMENT_TAB_REGISTER }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    #}
                                </ul>
                            </div>

                            <div class="card-body">

                                {# This shines in all tab-content #}
                                {#<h4 class="card-title">Title 4</h4>#}
                                {#<h6 class="card-subtitle mb-2">Title 5</h6>#}

                                <div class="tab-content mt-3">

                                    <div class="tab-pane fade show active p-3" id="tab-details" role="tabpanel" aria-labelledby="details-tab">

                                        {#<h5 class="card-title text-center">{{ lang.LANG_TEXT_TAB_DETAILS }}</h5>#}

                                        <div class="row">
                                                <div class="col-md-8 offset-md-2">

                                                <div class="form-group">
                                                    <label class="col-12" for="name">{{ lang.RAG_DOCUMENT_NAME }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="name"
                                                           name="name"
                                                           minlength="4"
                                                           maxlength="100"
                                                           {% if (data.action == 'delete') %}readonly="readonly"{% endif %}
                                                           value="{{ reg.name }}"
                                                           placeholder="{{ lang.ENTER_NAME }}">
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="rag">{{ lang.RAG }}:</label>
                                                    <select class="form-control"
                                                            id="rag"
                                                            name="rag"
                                                            {% if (data.action == 'delete') %}readonly="readonly"{%  endif %}
                                                            value="{{ reg.rag }}"
                                                            placeholder="{{ lang.RAG_SELECT }}">
                                                        {{ data.rag_options | raw }}
                                                    </select>
                                                </div>

                                                {% if (data.action == 'add') %}
                                                    <div class="form-group">
                                                        {# File upload start #}
                                                        {# Files labels names #}
                                                        {% set labels = [ "", lang.RAG_DOCUMENT_FILE_NAME] %}{# start with "" because array indexes starts with 0 #}
                                                        {# Using for indexes matching twig files array and php $files array#}
                                                        {# js expects this index #}
                                                        {% for i in 1..1 %}
                                                            {# user_profile.photo #}
                                                            {# Files hidden field - Database field name #}
                                                            {#<input type="hidden" name="{{ files[i].view_array_name }}[{{ files[i].view_field }}]" id="{{ files[i].input_id }}" value="{{ attribute(_context[files[i].view_array_name], files[i].view_field) }}" />#}
                                                            {# Files hidden field - File name and extension #}
                                                            <input type="hidden" name="{{ files[i].input_name }}_name" id="{{ files[i].input_id }}_name" value="{{ files[i].file_name }}" />
                                                            <input type="hidden" name="{{ files[i].input_name }}_extension" id="{{ files[i].input_id }}_extension" value="{{ files[i].file_extension }}" />
                                                            {% if ( data.action != 'delete' ) %}
                                                                <div id="file-div-{{ i }}" class="form-group file-div" data-item="{{ i }}">
                                                                    <label class="control-label" for="file_upload_{{ i }}">{{ labels[i] }}:</label>
                                                                    <div class="row">
                                                                        <div class="col-8 mx-auto">
                                                                            <div id="file-holder-{{ i }}" class="dropBox" title="{{ lang.FILE_CLICK_DROP_IMAGE_CHANGE }}">
                                                                            </div>
                                                                            <div id="dropBox_{{ i }}" class="dropBox dropBoxdrop mx-auto">
                                                                                <p>{{ lang.FILE_DROP_SELECT }}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="fileBox_{{ i }}" style="display: none">
                                                                        <input type="file"
                                                                               name="file_input_{{ i }}"
                                                                               id="file_input_{{ i }}"
                                                                               data-item="{{ i }}"
                                                                                {# multiple #} />
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <label class="control-label" for="file_upload">{{ labels[i] }}:</label>
                                                                <div class="row">
                                                                    <div class="col-8 mx-auto">
                                                                        <div id="file-holder-{{ i }}">
                                                                            <img src="{{ files[i].file_link }}"
                                                                                 class="img-fluid"
                                                                                 style="width: 100%;">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                        {# File upload end #}
                                                    </div>

                                                {% else %}

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="file_name">{{ lang.RAG_DOCUMENT_FILE_NAME }}:</label>
                                                        {{ reg.file_name }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="extension">{{ lang.RAG_DOCUMENT_EXTENSION }}:</label>
                                                        {{ reg.extension }}
                                                    </div>

                                                    <div class="form-group" style="width: 100%;">
                                                        <label class="control-label" for="date_reg">{{ lang.RAG_DOCUMENT_DATE_REG }}:</label>
                                                        {{ reg.date_reg }}
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div id="status_div" class="form-group">
                                                                <label class="control-label" for="status">{{ lang.RAG_DOCUMENT_STATUS }}:</label>
                                                                {% if reg.status == 0 %}{{ lang.RAG_DOCUMENT_STATUS_PENDING }}{% else %}{{ lang.RAG_DOCUMENT_STATUS_READY }}{% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </div>{# <div class="col-md-8 offset-md-2"> #}
                                        </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show active p-3" id="tab-details" role="tabpanel" aria-labelledby="details-tab"> #}
                                    {#
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}

                                            <div class="tab-pane fade show p-3" id="tab-register" role="tabpanel" aria-labelledby="register-tab">

                                            {#<h5 class="card-title text-center">{{ lang.LANG_TEXT_TAB_REGISTER }}</h5>

                                            <div class="col-9 mx-auto">
                                            <div class="row">

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="createdby">{{ lang.APP_CREATED_BY }}:</label>
                                                {{ reg.createdby }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="createddate">{{ lang.APP_CREATED_DATE }}:</label>
                                                {{ reg.createddate }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="updatedby">{{ lang.APP_UPDATED_BY }}:</label>
                                                {{ reg.updatedby }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="updateddate">{{ lang.APP_UPDATED_DATE }}:</label>
                                                {{ reg.updateddate }}
                                            </div>

                                            </div>{# <div class="row">
                                            </div>{# <div class="col-9 mx-auto">

                                            </div>{# <div class="tab-pane fade show p-3" id="tab-register" role="tabpanel" aria-labelledby="register-tab">

                                        {% endif %}
                                    {% endif %}
                                    #}

                                </div>{# <div class="tab-content mt-3"> #}

                            </div>{# <div class="card-body"> #}
                        </div>{# <div class="card"> #}

                    </div>{# <div class="col-8 mx-auto"> #}
                </div>{# <div class="row"> #}

                <div class="row">
                    <div class="col-12 my-4 text-center">

                        {% if ( data.action == 'delete' ) %}
                            {% if ( reg.status == 1 ) %}
                                <button type="button" name="btn_submit" id="btn_submit" class="btn btn-info" value="1">{{ lang.DELETE }}</button>
                            {% endif %}
                        {% else %}
                            <button type="button" name="btn_submit" id="btn_submit" class="btn btn-info" value="1">{{ lang.SAVE }}</button>
                        {% endif %}
                        <button type="button" name="btn_cancel" id="btn_cancel" class="btn btn-info" formnovalidate>{{ lang.BACK_TO_LIST }}</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ reg.id }}">

                {# Filters #}
                {% for filter_name, filter_data in filters %}
                    {% for filter_data_key, filter_data_data in filter_data %}
                        <input type="hidden" name="filters[{{ filter_name }}][{{ filter_data_key }}]" id="filter_{{ filter_name }}_{{ filter_data_key }}" value="{{ filter_data_data }}" />
                    {% endfor %}
                {% endfor %}
                {# Pagination #}
                {% for key, value in pagination %}
                    <input type="hidden" name="pagination[{{ key }}]" id="{{ key }}" value="{{ value }}" />
                {% endfor %}

                <input type="hidden" name="auth_token" value="{{ data.auth_token }}" />

            </form>

        </div>{# <div class="col-10 mx-auto"> #}
    </div>{# <div class="row">#}

</div>{# <div class="container-fluid mb-4">#}

<div class="clear"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/form.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/input_switch.css') }}" type="text/css" />
    {# File upload start #}
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/files.css') }}" type="text/css" />
    <style>
    </style>
    {# File upload end #}
{% endblock %}
{% block javascripts %}
     {{ parent() }}
    <script>
        $(document).ready(function(){
            {# app/categoryForm.html.twig #}

        });
        (function($) {
            'use strict';

        })(jQuery);
    </script>
    <script type="text/javascript">
        var folder = '{{ session[config['cookies_prefix']~'_folder'] }}';
        var entity = '{{ entity }}';
        var action = '{{ data.action }}';
        var cancel = '{{ cancel }}';
        var reg_id = '{{ reg.id }}';
        var l_errors_found = '{{ lang.ERRORS_FOUND }}';
        var l_form_has_errors = '{{ lang.ERRORS_FORM }}';
    </script>
    {# File upload start #}
    <script type="text/javascript">
        {# Files texts #}
        var l_file_drop_here = '{{ lang.FILE_DROP_HERE }}';
        var l_file_drop_select = '{{ lang.FILE_DROP_SELECT }}';
        var l_file_drop_click = '{{ lang.FILE_DROP_CLICK }}';
        var l_file_drop_selected = '{{ lang.FILE_DROP_SELECTED }}';
        var l_err_ajax_error = '{{ lang.ERR_AJAX_ERROR }}';
        var l_file_not_suitable = '{{ lang.FILE_NOT_SUITABLE }}';
        var l_file_max_size = '{{ lang.ERR_FILE_TOO_BIG }}';
        var file_max_size = {{ data.upload_max_file_size }};
        {# Make a js array with twig array#}
        var files_array_input_id = 0;
        var files_array_input_name = 1;
        var files_array_required = 2;
        var files_array_file_name = 3;
        var files_array_file_extension = 4;
        var files_array_file_link = 5;
        var files_array_image_height = 6;
        var files_array_image_width = 7;
        var files_array = new Array("");
        {% for file in files %}
        var file_item = new Array(
            "{{ file.input_id }}",
            "{{ file.input_name }}",
            "{{ file.input_required }}",
            "{{ file.file_name }}",
            "{{ file.file_extension }}",
            "{{ file.file_link }}",
            "{{ file.image_height }}",
            "{{ file.image_width }}",
        );
        files_array.push(file_item);
        {% endfor %}
        var num_files = files_array.length - 1;
        {#
        files_array.forEach(myFunction);
        function myFunction(value) {
            //console.log(value);
        }
        #}
    </script>
    {# File upload end #}
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/input_switch.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/scrool-to-top.js') }}"></script>
{% endblock %}
