{% extends 'app/' ~ config.app_skin ~ '/app.html.twig' %}

{% set entity = 'site_map' %}

{% block title %} {{ parent() }} &bull; {% if (data.action == 'delete') %}{{ lang.SITEMAP_DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.SITEMAP_EDIT }}{%  endif %}{% endblock %}

{% block body %}

<div class="container-fluid mb-4">

    <a href="#" id="topofthepage"></a>

    <div class="col-md-8 offset-md-2 col-sm-12 my-4 p-2 rounded-3 font-weight-bold {% if (data.action == 'delete') %}is_delete{%  else %} bg-light{%  endif %}">
        {% if (data.action == 'delete') %}
            {{ lang.SITEMAP_DELETE }}
        {% elseif (data.action == 'edit') %}
            {{ lang.SITEMAP_EDIT }}
        {% elseif  (data.action == 'add') %}
            {{ lang.SITEMAP_ADD }}
        {%  endif %}
        : {{ reg.name }}
    </div>

    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto">

            <form id="item-form"
                  method="post"
                  role="form"
                  enctype="multipart/form-data"
            >

                <div class="row">
                    <div class="col-md-8 col-sm-12 mx-auto">

                        <div id="box-result">
                            <div class="alert">
                            </div>
                        </div>

                        <div class="card">

                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs" id="tabs-list" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           id="details-tab"
                                           href="#tab-details"
                                           role="tab"
                                           aria-controls="details"
                                           aria-selected="true">
                                            {{ lang.SITEMAP_TAB_DETAILS }}
                                        </a>
                                    </li>
                                    {#
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                   id="register-tab"
                                                   href="#tab-register"
                                                   role="tab"
                                                   aria-controls="register"
                                                   aria-selected="false">
                                                    {{ lang.SITEMAP_TAB_REGISTER }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    #}
                                </ul>
                            </div>

                            <div class="card-body">

                                {# This shines in all tab-content #}
                                {% if data.action != 'add' and not reg.active %}
                                    <div class="row">
                                        <div class="col-9 mx-auto card-title-notactive">
                                            {{ lang.SITEMAP_NOT_ACTIVE }}
                                        </div>
                                    </div>
                                {% endif %}

                                <div class="tab-content mt-3">

                                    <div class="tab-pane fade show active p-3 {% if data.action != 'add' and not reg.active %}reg_not_active{% else %}reg_active{% endif %}" id="tab-details" role="tabpanel">

                                        {#<h5 class="card-title text-center">{{ lang.LANG_TEXT_TAB_DETAILS }}</h5>#}

                                        <div class="row">
                                            <div class="col-md-8 offset-md-2">

                                                <div class="form-group">
                                                    <label class="col-12" for="page_title">{{ lang.SITEMAP_PAGE_TITLE }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="page_title"
                                                           name="page_title"
                                                           minlength="4"
                                                           maxlength="255"
                                                           {% if (data.action == 'delete') %}readonly="readonly"{% endif %}
                                                           value="{{ reg.page_title }}"
                                                           placeholder="{{ lang.ENTER_TITLE }}">
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="description">{{ lang.SITEMAP_DESCRIPTION }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="description"
                                                           name="description"
                                                           minlength="4"
                                                           maxlength="255"
                                                           {% if (data.action == 'delete') %}readonly="readonly"{% endif %}
                                                           value="{{ reg.description }}"
                                                           placeholder="{{ lang.ENTER_DESCRIPTION }}">
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="subdomain">{{ lang.SITEMAP_SUBDOMAIN }}:</label>
                                                    <select class="form-control"
                                                            id="subdomain"
                                                            name="subdomain"
                                                            {% if (data.action == 'delete') %}disabled="disabled"{%  endif %}
                                                            value="{{ reg.subdomain }}"
                                                            {#placeholder="{{ lang.ENTER_URL }}"#}>
                                                        {{ data.subdomain_options|raw }}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="slug">{{ lang.SITEMAP_SLUG }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="slug"
                                                           name="slug"
                                                           minlength="4"
                                                           maxlength="255"
                                                           {% if (data.action == 'delete') %}readonly="readonly"{% endif %}
                                                           value="{{ reg.slug }}"
                                                           placeholder="{{ lang.ENTER_URL }}">
                                                    <div id="slugHelp" class="form-text font-color-grey">{{ lang.SITEMAP_SLUG_HELP }}</div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="changefreg">{{ lang.SITEMAP_CHANGEFREG }}:</label>
                                                    <select class="form-control"
                                                            id="changefreg"
                                                            name="changefreg"
                                                            {% if (data.action == 'delete') %}disabled="disabled"{%  endif %}
                                                            value="{{ reg.changefreg }}"
                                                            {#placeholder="{{ lang.ENTER_URL }}"#}>
                                                        {{ data.changefreg_options|raw }}
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="priority">{{ lang.SITEMAP_PRIORITY }}:</label>
                                                    <input type="text"
                                                           class="form-control"
                                                           id="priority"
                                                           name="priority"
                                                           minlength="4"
                                                           maxlength="10"
                                                           {% if (data.action == 'delete') %}readonly="readonly"{% endif %}
                                                           value="{{ reg.priority }}"
                                                           placeholder="{{ lang.ENTER_NUMBER }}">
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-12" for="createddate">{{ lang.SITEMAP_CREATEDDATE }}:</label>
                                                    <div id="createddate_datepicker" class="input-group date">
                                                        <input type="text"
                                                               class="form-control"
                                                               id="createddate"
                                                               name="createddate"
                                                               minlength="4"
                                                               maxlength="10"
                                                               {% if (data.action == 'delete') %}readonly="readonly"{% endif %}
                                                               value="{{ reg.createddate }}"
                                                               placeholder="{{ lang.ENTER_DATE }}">
                                                        <span class="input-group-append">
                                                            <span class="input-group-text bg-white d-block">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>

                                                {% if (data.action != 'delete') %}
                                                    {% if user_group == '1' or user_group == '2' %}
                                                        <div class="form-group row no-gutters">
                                                            <div class="col-md-2 col-sm-3 align-content-end">
                                                                <label class="switch align-self-start">
                                                                    <input type="checkbox"
                                                                           class="switch_input"
                                                                           id="active"
                                                                           name="active"
                                                                           {% if (reg.active == '1') %}checked="checked"{%  endif %}
                                                                           value="{{ reg.active }}"
                                                                    >
                                                                    <span class="slider round"></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-8 col-sm-6 my-auto mx-right" for="active">
                                                                {{ lang.SITEMAP_ACTIVE }}
                                                            </div>
                                                        </div>
                                                    {%  else %}
                                                        <input type="hidden" name="active" value="{{ reg.active }}">
                                                    {% endif %}
                                                {% endif %}

                                            </div>{# <div class="col-md-8 offset-md-2"> #}
                                        </div>{# <div class="row"> #}

                                    </div>{# <div class="tab-pane fade show active p-3 {% if data.action != 'add' and not reg.active %}reg_not_active{% else %}reg_active{% endif %}" id="tab-details" role="tabpanel"> #}
{#
                                    {% if (data.action != 'add') %}
                                        {% if user_group == '1' or user_group == '2' %}

                                            <div class="tab-pane fade show p-3 {% if data.action != 'add' and not reg.active %}reg_not_active{% else %}reg_active{% endif %}" id="tab-register" role="tabpanel">

                                            {#<h5 class="card-title text-center">{{ lang.LANG_TEXT_TAB_REGISTER }}</h5>

                                            <div class="col-9 mx-auto">
                                            <div class="row">

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="createdby">{{ lang.APP_CREATED_BY }}:</label>
                                                {{ reg.createdby }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="createddate">{{ lang.APP_CREATED_DATE }}:</label>
                                                {{ reg.createddate }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="updatedby">{{ lang.APP_UPDATED_BY }}:</label>
                                                {{ reg.updatedby }}
                                            </div>

                                            <div class="form-group" style="width: 100%;">
                                                <label class="control-label" for="updateddate">{{ lang.APP_UPDATED_DATE }}:</label>
                                                {{ reg.updateddate }}
                                            </div>

                                            </div>{# <div class="row">
                                            </div>{# <div class="col-9 mx-auto">

                                            </div>{# <div class="tab-pane fade show p-3" id="tab-register" role="tabpanel">

                                        {% endif %}
                                    {% endif %}
#}
                                </div>{# <div class="tab-content mt-3"> #}

                            </div>{# <div class="card-body"> #}
                        </div>{# <div class="card"> #}

                    </div>{# <div class="col-8 mx-auto"> #}
                </div>{# <div class="row"> #}

                <div class="row">
                    <div class="col-12 my-4 text-center">
                        <button type="button" name="btn_submit" id="btn_submit" class="btn btn-info" value="1">{% if (data.action == 'delete') %}{{ lang.DELETE }}{% elseif (data.action == 'edit') or data.action == 'add' %}{{ lang.SAVE }}{%  endif %}</button>
                        <button type="button" name="btn_cancel" id="btn_cancel" class="btn btn-info" formnovalidate>{{ lang.BACK_TO_LIST }}</button>
                    </div>
                </div>
                <input type="hidden" name="id" value="{{ reg.id }}">

                {# Filters #}
                {% for filter_name, filter_data in filters %}
                    {% for filter_data_key, filter_data_data in filter_data %}
                        <input type="hidden" name="filters[{{ filter_name }}][{{ filter_data_key }}]" id="filter_{{ filter_name }}_{{ filter_data_key }}" value="{{ filter_data_data }}" />
                    {% endfor %}
                {% endfor %}
                {# Pagination #}
                {% for key, value in pagination %}
                    <input type="hidden" name="pagination[{{ key }}]" id="{{ key }}" value="{{ value }}" />
                {% endfor %}

                <input type="hidden" name="auth_token" value="{{ data.auth_token }}" />

            </form>

        </div>{# <div class="col-10 mx-auto"> #}
    </div>{# <div class="row">#}

</div>{# <div class="container-fluid mb-4">#}

<div class="clear"></div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/form.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset_version('/assets/css/app/'~config.app_skin~'/input_switch.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
     {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>

    <script>
        $(document).ready(function() {
            {# app/sitemapForm.html.twig #}

            var today = new Date();
            var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            var time = today.getHours() + ":" + today.getMinutes();
            var dateTime = date+' '+time;
            $('#createddate_datepicker').datepicker({
                language: 'es',
                format: 'dd-mm-yyyy',
                todayBtn: true,
                todayHighlight: true,
                {% if data.action == 'add' %}
                    startDate: dateTime,
                {% endif %}
                autoclose: true,
            });
        });
        (function($) {
            'use strict';

        })(jQuery);
    </script>
    <script type="text/javascript">
        var folder = '{{ session[config['cookies_prefix']~'_folder'] }}';
        var entity = '{{ entity }}';
        var action = '{{ data.action }}';
        var cancel = '{{ cancel }}';
        var reg_id = '{{ reg.id }}';
        var l_errors_found = '{{ lang.ERRORS_FOUND }}';
        var l_form_has_errors = '{{ lang.ERRORS_FORM }}';
    </script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/input_switch.js') }}"></script>
    <script type="text/javascript" src="{{ asset_version('/assets/js/app/'~config.app_skin~'/scrool-to-top.js') }}"></script>
{% endblock %}
