{% extends 'web/' ~ config.website_skin ~ '.html.twig' %}

{% set this_page = 'renew_card' %}

{% block title %} {{ parent() }} &bull; {{ lang.RENEW_CARD_TITLE }}{% endblock %}

{% block body %}

    <a href="#" id="topofthepage" aria-label="{{ lang.WEB_TOP_OF_THE_PAGE }}"></a>

    <div id="payment_hero" class="container-fluid">
        <div id="payment_hero_content">
            <div id="payment_hero_colum_left">
                <div id="payment_hero_colum_left_text">
                    <p>{{ lang.PAYMENT_SECTION }}</p>
                </div>
                <div id="payment_hero_colum_left_image">
                    <img src="/assets/images/web/{{ config.website_skin }}/bands/payment_stripe/movil.png" alt="">
                </div>
            </div>
            <div id="payment_hero_colum_right">
                <div id="payment_hero_title">
                    <h2>{{ lang.PAYMENT_RENEW_CARD_TITLE }}</h2>
                </div>

                {% if errors|length > 0 %}
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="alert alert-danger">
                                {{ lang.ERRORS_FOUND }}:
                                <ul>
                                    {% for error_item in errors %}
                                        <li>{{ error_item }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {# ********************************************************************************** #}
                {#
                <div id="payment_stripe_get_card_quote_line">
                </div>
                <div id="payment_stripe_get_card">
                    <div id="payment_stripe_get_card_total_to_pay_content">
                        <div id="payment_stripe_get_card_total_to_pay_text">
                            {{ lang.PAYMENT_TOTAL_TO_PAY }}
                        </div>
                        <div id="payment_stripe_get_card_total_to_pay_amount">
                            {{ ( ( ( quote.total_to_pay )|round(2,'common') / 100 ) )|number_format( 2, ',', '.' ) }} {{ currency }}
                        </div>
                    </div>
                </div>
                #}
                <form id="payment_form" class="payment_hero_form" method="POST">
                </form>
                <div class="stripe-form-container stripe-container">
                    <span class="paymentErrors alert-danger"></span>
                    <div class="card-container">
                        <label for="card-element">
                            {{ lang.PAYMENT_CARD_DETAILS }}
                        </label>
                        <div id="card-element"></div>
                    </div>
                </div>
                {% if data.has_cards != 'NO' %}
                    <div id="payment_stripe_make_preferred">
                        <div id="payment_stripe_payment_method_left">
                            <div id="payment_stripe_payment_method_left_make_preferred">
                                <div id="payment_stripe_make_preferred_input_div">
                                    <input  type="checkbox"
                                            id="payment_stripe_make_preferred_input"
                                            name="make_preferred"
                                            value="1"
                                    />
                                    <label id="payment_stripe_make_preferred_label" for="payment_stripe_make_preferred_input">
                                        {{ lang.PAYMENT_STRIPE_MAKE_PREFERRED_CARD | raw }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div id="payment_stripe_get_card_terms_conditions">
                    <div id="payment_stripe_get_card_terms_input">
                        <input  type="checkbox"
                                id="payment_stripe_get_card_terms"
                                name="terms_conditions"
                                required="required"
                                form="payment_form"
                                value="1"
                        />
                        <label id="payment_stripe_get_card_terms_label" for="payment_stripe_get_card_terms">
                            {{ data.payment_terms_agreement | raw }}
                        </label>
                    </div>
                </div>
                <div id="payment_hero_button">
                    <input type="submit"
                           id="btn_submit_button"
                           class="loading"
                           value="{{ lang.PAYMENT_CONTINUE }}"
                           form="payment_form"
                           formnovalidate="formnovalidate"
                    />
                    <input type="hidden"
                           id="account_payment_method_key"
                           name="account_payment_method_key"
                           value="{{ data.account_payment_method_key }}"
                           form="payment_form"
                    />
                </div>
                {# ********************************************************************************** #}
            </div>
        <div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/css/web/{{ config.website_skin }}/payment.css" rel="stylesheet">
    <link href="/assets/css/web/{{ config.website_skin }}/payment_stripe_renew_card.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script id="view" type="text/javascript">
        var view = 'stripe_renew_card';
    </script>
    <script>
        $(document).ready(function(){

        });
        (function($) {
            // Avoid conflicts with other libraries
            'use strict';

            $('.loading').on('click', function () {
                scrool_to_top_of_page();
                $("#btn_submit_button").hide();
                $(document.body).prepend('<div id="loading"><div id="loading_div"><div id="loading_div_texts"><p>{{ lang.LOADING_WORKING }}</p><p>{{ lang.LOADING_NOT_RELOAD }}</p><p>{{ lang.LOADING_TAKES_MINUTES }}</p></div><img id="loading_img" src="/assets/images/app/default/loading_icon.webp"></div></div>');
                $("#loading").css('height', $('body').outerHeight(true));
                {#console.log('outerHeight', $('body').outerHeight(true), 'w.height', $(window).height(), 'd.height', $(document).height() );#}
            });
            
        })(jQuery); // Avoid conflicts with other libraries
    </script>
    <script type="text/javascript">
		var stripe_p = '{{ env.stripe_p }}';
	</script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="/assets/js/web/{{ config.website_skin }}/stripe.js"></script>
    <script type="text/javascript" src="/assets/js/web/{{ config.website_skin }}/scrool-to-top.js"></script>
{% endblock %}
