{% extends 'web/' ~ config.website_skin ~ '.html.twig' %}

{% set this_page = 'accessibility_statement' %}

{% block metadescription %}{{ lang.WEB_METADESCRIPTION_ACCESSIBILITY_STATEMENT }}{% endblock %}
{% block metarobots %}noindex, follow{% endblock %}
{% block title %} {{ lang.WEB_TITLE_ACCESSIBILITY_STATEMENT }} - {{ parent() }}{% endblock %}

{% block rel_alternate_links %}
    {{ data.canonical | replace({'%this_route%': this_route }) | raw }}
    {{ data.alternate_langs | replace({'%this_route%': this_route }) | raw }}
{% endblock %}

{% block body %}

    <section class="my-5 py-5">
        <div class="container">
            <h2 class="font-weight-light">{{ lang.WEB_FOOTER_ACCESSIBILITY_STATEMENT }}</h2>
            <p>{{ lang.WEB_ACCESSIBILITY_STATEMENT_TXT | replace({'%ENTITY%' : data.entity, '%DOMAIN_NAME%' : data.domain_name, '%REVISION_DATE%' : data.revision_date | format_date('full', '', null, 'gregorian', config['web_locale']), '%OPENS_NEW_WINDOW_ICON%' : data.opens_new_window_icon, '%CONTACT_LINK%' : data.contact_link }) | raw }}
            </p>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/bundles/framework/css/web/{{ config.website_skin }}/legal.css" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){

        });
        (function($) {
            'use strict';

        })(jQuery);
    </script>
{% endblock %}
