{% extends 'web/' ~ config.website_skin ~ '.html.twig' %}

{% set this_page = 'contactus' %}
{% set this_route = '/contactus' %}
{% set this_page_title = 'Contacto | Miel Sandonis – Visitas y compra de miel' %}
{% set this_page_metadescription = 'Contáctanos para pedir nuestra miel artesanal o para organizar una visita a nuestras colmenas en los Pinares de Portillo, Valladolid.' %}

{% block seo_meta %}
	<meta property="og:locale" content="{{ session[config['cookies_prefix']~'_locale'] }}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ this_page_title }} - {{ config.web_name }}" />
	<meta property="og:description" content="{{ this_page_metadescription }}" />
	<meta property="og:url" content="{{ site_url ~ this_route }}" />
	<meta property="og:site_name" content="{{ config.web_name }}" />
	<meta property="og:updated_time" content="2024-09-19T12:00:00+00:00" />
	{#<meta property="og:image" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
	{#<meta property="og:image:secure_url" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
	{#<meta property="og:image:width" content="1280" />#}
	{#<meta property="og:image:height" content="504" />#}
	<meta property="og:image:alt" content="{{ this_page_title }}" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta property="article:publisher" content="{{ config.company_facebook }}">
	<meta property="article:author" content="{{ config.company_facebook }}">
	<meta property="article:published_time" content="2024-04-11T12:00:00+00:00" />
	<meta property="article:modified_time" content="2024-09-19T12:00:00+00:00" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ this_page_title }} - {{ config.web_name }}" />
	<meta name="twitter:description" content="{{ this_page_metadescription }}" />
	{#<meta name="twitter:image" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
	<link rel="shortlink" href="{{ site_url ~ this_route }}">
{% endblock %}

{% block metadescription %}{{ this_page_metadescription }}{% endblock %}
{% block metarobots %}index, follow{% endblock %}

{% block rel_alternate_links %}
	{{ data.canonical | replace({'%this_route%': this_route }) | raw }}
	{{ data.alternate_langs | replace({'%this_route%': this_route }) | raw }}
{% endblock %}

{% block ld_json %}
{% endblock %}

{% block title %}{{ this_page_title }} - {{ parent() }}{% endblock %}

{% block body %}

    <div id="contactus_main">

		<a href="#" id="error_messages" target="_self" aria-hidden="true" class="hidden">&nbsp;</a>
		{% include 'web/' ~ config.website_skin ~ '/bands/contactus.html.twig' %}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/css/web/{{ config.website_skin }}/bands/contactus.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script>
		$(document).ready(function(){

			// $('#footer_contact_form_form :input:enabled:visible:first').focus();

		});
		(function($) {
			'use strict';

		})(jQuery);
	</script>
	{% if errors|length > 0 %}
		<script>
			$(document).ready(function(){

				{% if errors | length > 0 %}
					$("html, body").animate({scrollTop: $("#error_messages").offset().top}, 1500);
				{% endif %}

			});
			(function($) {
				'use strict';

			})(jQuery);
		</script>
	{% endif %}
{% endblock %}
