
{% if env.developer == 'carlos' %}
    <div id="header_helpers">
        <div id="header_helpers_text">
            {% if session %}
                IP [ {{ server.SERVER_ADDR }} ]
                App skin ({{ config.app_skin }})
                Web skin ({{ config.website_skin }})
                <br />
                COOKIES [
                CurUser ({{ cookies[config['cookies_prefix']~'_CurUser'] }})
                Rememberme ({{ cookies[config['cookies_prefix']~'_Rememberme'] }})
                Login ({{ cookies[config['cookies_prefix']~'_Login'] |slice(0, 7) }})
                PHPID ({{ cookies['PHPSESSID'] }})
                ]
                <br />
                SESSION_[
                Account ({{ session[config['cookies_prefix']~'_CurAccount'] }})
                User ({{ session[config['cookies_prefix']~'_CurUser'] }})
                Group ({{ session[config['cookies_prefix']~'_UserGroup'] }})
                Locale ({{ session[config['cookies_prefix']~'_locale'] }})
                Folder ({{ session[config['cookies_prefix']~'_folder'] }})
                Name ({{ session[config['cookies_prefix']~'_UserName'] }})
                CSRF ({{ dump(session.csrf) }})
                ]
            {% else %}
                No session
            {% endif %}
        </div>
    </div>
{% endif %}
