{% extends 'web/' ~ config.website_skin ~ '.html.twig' %}

{% set this_page = 'solutions' %}
{% set this_route = '/' ~ lang.WEB_MENU_SOLUTIONS_LINK %}
{% set this_page_title = lang.WEB_TITLE_SOLUTIONS %}
{% set this_page_metadescription = lang.WEB_METADESCRIPTION_SOLUTIONS %}

{% block seo_meta %}
    <meta property="og:locale" content="{{ session[config['cookies_prefix']~'_locale'] }}" />
    <meta property="og:type" content="website" />{# article #}
    <meta property="og:title" content="{{ this_page_title }} - {{ config.web_name }}" />
    <meta property="og:description" content="{{ this_page_metadescription }}" />
    <meta property="og:url" content="{{ site_url ~ this_route }}" />
    <meta property="og:site_name" content="{{ config.web_name }}" />
    <meta property="og:updated_time" content="2024-09-19T12:00:00+00:00" />
    {#<meta property="og:image" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
    {#<meta property="og:image:secure_url" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
    {#<meta property="og:image:width" content="1280" />#}
    {#<meta property="og:image:height" content="504" />#}
    <meta property="og:image:alt" content="{{ this_page_title }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="article:publisher" content="{{ config.company_facebook }}">
    <meta property="article:author" content="{{ config.company_facebook }}">
    <meta property="article:published_time" content="2024-04-11T12:00:00+00:00" />
    <meta property="article:modified_time" content="2024-09-19T12:00:00+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ this_page_title }} - {{ config.web_name }}" />
    <meta name="twitter:description" content="{{ this_page_metadescription }}" />
    {#<meta name="twitter:image" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
    <link rel="shortlink" href="{{ site_url ~ this_route }}">
{% endblock %}

{% block metadescription %}{{ this_page_metadescription }}{% endblock %}
{% block metarobots %}index, follow{% endblock %}

{% block rel_alternate_links %}
    {{ data.canonical | replace({'%this_route%': this_route }) | trim('/', 'right') | raw }}
    {{ data.alternate_langs | replace({'%this_route%': this_route }) | raw }}
{% endblock %}

{% block ld_json %}
{% endblock %}

{% block title %}{{ this_page_title }} - {{ parent() }}{% endblock %}

{% block body %}

    <main id="solution_invoices_main">

		{% include 'web/' ~ config.website_skin ~ '/bands/solution_hero.html.twig' %}
        <a href="#" id="topofthepage" aria-label="{{ lang.WEB_TOP_OF_THE_PAGE }}"></a>
		{% include 'web/' ~ config.website_skin ~ '/bands/solution_invoices.html.twig' %}

	</main>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/css/web/{{ config.website_skin }}/bands/solution_hero.css" rel="stylesheet">
    <link href="/assets/css/web/{{ config.website_skin }}/bands/solution_invoices.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){

        });
        (function($) {
            'use strict';

        })(jQuery);
    </script>
	<script type="text/javascript" src="/assets/js/web/{{ config.website_skin }}/scrool-to-top.js"></script>
{% endblock %}
