{% extends 'web/' ~ config.website_skin ~ '.html.twig' %}

{% set this_page = 'solutions' %}
{% set this_route = '/' ~ lang.WEB_MENU_SOLUTIONS_LINK %}
{% set this_page_title = lang.WEB_TITLE_SOLUTIONS %}
{% set this_page_metadescription = lang.WEB_METADESCRIPTION_SOLUTIONS %}

{% block seo_meta %}
    <meta property="og:locale" content="{{ session[config['cookies_prefix']~'_locale'] }}" />
    <meta property="og:type" content="website" />{# article #}
    <meta property="og:title" content="{{ this_page_title }} - {{ config.web_name }}" />
    <meta property="og:description" content="{{ this_page_metadescription }}" />
    <meta property="og:url" content="{{ site_url ~ this_route }}" />
    <meta property="og:site_name" content="{{ config.web_name }}" />
    <meta property="og:updated_time" content="2024-09-19T12:00:00+00:00" />
    {#<meta property="og:image" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
    {#<meta property="og:image:secure_url" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
    {#<meta property="og:image:width" content="1280" />#}
    {#<meta property="og:image:height" content="504" />#}
    <meta property="og:image:alt" content="{{ this_page_title }}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="article:publisher" content="{{ config.company_facebook }}">
    <meta property="article:author" content="{{ config.company_facebook }}">
    <meta property="article:published_time" content="2024-04-11T12:00:00+00:00" />
    <meta property="article:modified_time" content="2024-09-19T12:00:00+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ this_page_title }} - {{ config.web_name }}" />
    <meta name="twitter:description" content="{{ this_page_metadescription }}" />
    {#<meta name="twitter:image" content="{{ site_url ~ this_route }}/assets/images/web/{{ config.website_skin }}/bands/partners_hero/fondo_partnes.jpg" />#}
    <link rel="shortlink" href="{{ site_url ~ this_route }}">
{% endblock %}

{% block metadescription %}{{ this_page_metadescription }}{% endblock %}
{% block metarobots %}index, follow{% endblock %}

{% block rel_alternate_links %}
    {{ data.canonical | replace({'%this_route%': this_route }) | trim('/', 'right') | raw }}
    {{ data.alternate_langs | replace({'%this_route%': this_route }) | raw }}
{% endblock %}

{% block ld_json %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "{{ this_page_title }} - {{ config.web_name }}",
            "url": "{{ env.protocol }}://{{ env.domain }}{{ this_route }}",
            "description": "{{ this_page_metadescription }}",
            "inLanguage": "{{ env.lang }}",
            "isPartOf": {
                "@type": "WebSite",
                "name": "{{ config.web_name }}",
                "url": "{{ env.protocol }}://{{ env.domain }}"
            },
            "primaryImageOfPage": {
                "@type": "ImageObject",
                "url": "{{ env.protocol }}://{{ env.domain }}/assets/images/web/default/bands/solutions_hero/solution_hero.png",
                "caption": "{{ this_page_title }}"
            },
            "breadcrumb": {
                "@type": "BreadcrumbList",
                "itemListElement": [
                    {
                        "@type": "ListItem",
                        "position": 1,
                        "name": "Inicio",
                        "item": "{{ env.protocol }}://{{ env.domain }}"
                    },
                    {
                        "@type": "ListItem",
                        "position": 2,
                        "name": "{{ this_page_title }}",
                        "item": "{{ env.protocol }}://{{ env.domain }}{{ this_route }}"
                    }
                ]
            },
            "mainEntity": [
                {
                    "@type": "Service",
                    "name": "{{ this_page_title }}",
                    "description": "{{ this_page_metadescription }}",
                    "provider": {
                        "@type": "Organization",
                        "name": "{{ config.web_name }}",
                        "url": "{{ env.protocol }}://{{ env.domain }}",
                        "logo": "{{ env.protocol }}://{{ env.domain }}/assets/images/web/default/logo_with_text_hor.png",
                        "contactPoint": {
                            "@type": "ContactPoint",
                            "contactType": "Atención al cliente",
                            "email": "{{ config.web_info_email }}",
                            "telephone": "{{ config.web_info_phone }}"
                        }
                    },
                    "serviceType": "{{ data.hero_h1 | raw }}",
                    "areaServed": "{{ env.country }}",
                    "availableChannel": {
                        "@type": "ServiceChannel",
                        "serviceLocation": {
                            "@type": "VirtualLocation",
                            "url": "{{ env.protocol }}://{{ env.domain }}{{ this_route }}"
                        },
                        "serviceUrl": "{{ env.protocol }}://{{ env.domain }}/solution_invoices",
                        "availableLanguage": ["es", "en"]
                    },
                    "audience": [
                        {
                            "@type": "Audience",
                            "audienceType": "Businesses"
                        },
                        {
                            "@type": "Audience",
                            "audienceType": "Public Administrations"
                        },
                        {
                            "@type": "Audience",
                            "audienceType": "Digital Agencies"
                        },
                        {
                            "@type": "Audience",
                            "audienceType": "Web Developers"
                        }
                    ],
                    "offers": {
                                "@type": "Offer",
                                "priceCurrency": "{{ config.web_currency }}",
                                "price": "0.00",
                                "eligibleRegion": "{{ env.country }}",
                                "url": "{{ env.protocol }}://{{ env.domain }}{{ this_route }}",
                                "availability": "https://schema.org/InStock"
                    },
                    "termsOfService": "{{ env.protocol }}://{{ env.domain }}/terminos-de-venta",
                    "serviceOutput": "{{ data.hero_h2 | raw }} ",
                    "providerMobility": "dynamic",
                    "isAccessibleForFree": true
                },
                {
                    "@type": "Service",
                    "name": "{{ data.hero_h1 | raw }}",
                    "description": "{{ data.hero_p | raw }}",
                    "serviceType": "{{ data.hero_h2 | raw }}",
                    "isAccessibleForFree": true,
                    "provider": {
                        "@type": "Organization",
                        "name": "{{ config.web_name }}",
                        "url": "{{ env.protocol }}://{{ env.domain }}",
                        "logo": "{{ env.protocol }}://{{ env.domain }}/assets/images/web/default/logo_with_text_hor.png"
                    }
                }
            ]
        }
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "FAQPage",
            "mainEntity": [
                {
                    "@type": "Question",
                    "name": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_2 | raw }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_3 | raw }}"
                    }
                },
                {
                    "@type": "Question",
                    "name": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_4 | raw }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_5_FAQ | raw }}"
                    }
                },
                {
                    "@type": "Question",
                    "name": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_8 | raw }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_9 | raw }}"
                    }
                },
                {
                    "@type": "Question",
                    "name": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_10 | raw }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_11 | raw }}"
                    }
                },
                {
                    "@type": "Question",
                    "name": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_12 | raw }}",
                    "acceptedAnswer": {
                        "@type": "Answer",
                        "text": "{{ lang.WEB_SOLUTION_INVOICES_FAQ_TEXT_13 | raw }}"
                    }
                }
            ]
        }
    </script>
{% endblock %}

{% block title %}{{ this_page_title }} - {{ parent() }}{% endblock %}

{% block body %}

    <main id="solution_invoices_main">

		{% include 'web/' ~ config.website_skin ~ '/bands/solution_hero.html.twig' %}
        <a href="#" id="topofthepage" aria-label="{{ lang.WEB_TOP_OF_THE_PAGE }}"></a>
		{% include 'web/' ~ config.website_skin ~ '/bands/solution_invoices_explain.html.twig' %}
		{% include 'web/' ~ config.website_skin ~ '/bands/solution_invoices_steps.html.twig' %}
		{% include 'web/' ~ config.website_skin ~ '/bands/solution_invoices_benefits.html.twig' %}
		{% include 'web/' ~ config.website_skin ~ '/bands/solution_invoices_faq.html.twig' %}

	</main>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/assets/css/web/{{ config.website_skin }}/bands/solution_hero.css" rel="stylesheet">
    <link href="/assets/css/web/{{ config.website_skin }}/bands/solution_invoices_explain.css" rel="stylesheet">
    <link href="/assets/css/web/{{ config.website_skin }}/bands/solution_invoices_steps.css" rel="stylesheet">
    <link href="/assets/css/web/{{ config.website_skin }}/bands/solution_invoices_benefits.css" rel="stylesheet">
    <link href="/assets/css/web/{{ config.website_skin }}/bands/solution_invoices_faq.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){

        });
        (function($) {
            'use strict';

        })(jQuery);
    </script>
	<script type="text/javascript" src="/assets/js/web/{{ config.website_skin }}/scrool-to-top.js"></script>
    <script type="text/javascript" src="/assets/js/web/{{ config.website_skin }}/faq.js"></script>
{% endblock %}
