
<section id="categories_list" class="web_section">
    <div id="categories_list_container" class="web_container">
        <div id="categories_list_content" class="web_content">

            {% if data.categories %}
                <div id="categories_list_list">
                    {% for item in data.categories %}
                        {% if item.active == '1' %}
                            <div id="categories_list_item_{{ item.category_key }}"
                                 data-item="{{ item.category_key }}"
                                 class="categories_list_item">
                                <div class="item_name">
                                    {{ item.name }}
                                </div>
                                <div class="item_button">
                                    {{ LANG.WEB_SHOW_SUPPLIERS }}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div>{{ lang.CATEGORY_NOT_FOUND }}</div>
            {% endif %}


        </div>
    </div>
</section>