{% set path = '/assets/images/web/'~config.website_skin~'/bands/contact/' %}
{% set img_1 = path ~ 'contactus_hero.png' %}


<section id="contactus_hero" class="web_section">
    <div id="contactus_hero_container" class="web_container">
        <div id="contactus_hero_content" class="web_content">

            <div id="contactus_hero_wrapper" class="web_wrapper">
                <div id="contactus_hero_left">
                    <h1>
                        {{ lang.ABOUT_US_HERO_TEXT_1 | raw }}{#Empecemos a hacer tu negocio más rentable#}
                    </h1>
                    <h2>
                        {{ lang.ABOUT_US_HERO_TEXT_2 | raw }}{#Cuéntanos tu problema, nosotros diseñamos la solución#}
                    </h2>
                    <p>
                        {{ lang.ABOUT_US_HERO_TEXT_3 | raw }}{#No pierdas más tiempo en lo automatizable. <b>Agenda una auditoría gratuita con nuestro equipo</b>. Sin compromiso, solo soluciones concretas para liberar a tu equipo y aumentar la eficiencia de tus procesos.#}
                    </p>
                    <div id="contactus_hero_buttons" class="generic_button">
                        <a
                           class="contactus_hero_button"
                           href="https://cal.com/altira-automations/auditoria-gratuita"
                           target="_blank"
                           title="{{ lang.ABOUT_US_HERO_TEXT_4 | raw }}"{#Agenda tu auditoría ahora#}
                        >
                            {{ lang.ABOUT_US_HERO_TEXT_5 | raw }} > {#Agenda tu auditoría ahora#}
                        </a>
                    </div>
                </div>
                <div id="contactus_hero_right">
                    <img
                         src="{{ img_1 }}"
                         decoding="async"
                         alt=""
                    >
                </div>
            </div>

        </div>
    </div>
</section>