{% set path = '/assets/images/web/'~config.website_skin~'/bands/footer/' %}

<section id="footer_badges" class="web_section">
    <div id="footer_badges_container" class="web_container">
        <div id="footer_badges_content" class="web_content">

            <div id="footer_badges_wrapper">
                <div id="footer_badges_title">
                    {{ lang.FOOTER_BADGES_0 | raw }} {#Certificados#}
                </div>
                <div id="footer_badges_badges">
                    <div id="footer_badges_badge_1"
                         class="footer_badges_badge"
                         title="{{ lang.FOOTER_BADGES_1 | raw }}"{#Trustworthy AI certificate"#}
                    >
                        <img id="footer_badges_badge_img_1"
                             src="{{ path }}trustworthy_ai.png"
                             decoding="async"
                             alt="{{ lang.FOOTER_BADGES_1 | raw }}"{#Trustworthy AI certificate"#}
                             />
                    </div>

                    <div id="footer_badges_badge_2"
                         class="footer_badges_badge"
                         title="{{ lang.FOOTER_BADGES_2 | raw }}"{#EU Ethics for Trustworthy AI#}
                    >
                        <img id="footer_badges_badge_img_2"
                             src="{{ path }}ai_eu.png"
                             decoding="async"
                             alt="{{ lang.FOOTER_BADGES_2 | raw }}"{#EU Ethics for Trustworthy AI#}
                             />
                    </div>

                    <div id="footer_badges_badge_3"
                         class="footer_badges_badge"
                         title="{{ lang.FOOTER_BADGES_3 | raw }}" {#Humans in the loop#}
                    >
                        <img id="footer_badges_badge_img_3"
                             src="{{ path }}hitl.png"
                             decoding="async"
                             alt="{{ lang.FOOTER_BADGES_3 | raw }}" {#Humans in the loop#}
                             />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>