
<section id="footer_contact_form">
    <div id="footer_contact_content">
        <div id="footer_contact_div">
            <div id="footer_contact_left">
                <div class="footer_contact_inner">
                    <div id="footer_contact_title">
                        {{ lang.WEB_CONTACT_FORM_TITLE | raw }}
                    </div>
                    <div id="footer_contact_text">
                        <p>
                            {{ lang.WEB_CONTACT_FORM_EXPLAIN | raw }}
                        </p>
                    </div>
                    <div id="footer_contact_email">
                        <p>
                            {{ lang.WEB_CONTACT_FORM_ALSO_EMAIL | raw }}
                        </p>
                        <div id="footer_contact_email_icon">
                            {#<img decoding="async" width="65" height="65" src="/assets/images/web/default/phone.svg" alt="{{ lang.WEB_CONTACT_FORM_PHONE_ALT | raw }}" title="{{ lang.WEB_CONTACT_FORM_PHONE_TITLE | raw }}">#}
                            <i class="icon-envelope" aria-hidden="true" title="{{ lang.WEB_EMAIL_US | raw }}"></i>
                        </div>
                        <p id="footer_contact_web_info_email">
                            <a href="mailto:{{ config.web_info_email }}">{{ config.web_info_email }}</a>
                        </p>
                    </div>
                    <div id="footer_contact_phone">
                        <div id="footer_contact_phone_text">
                            <p>
                                {{ lang.WEB_CONTACT_FORM_ALSO_CALL | raw }}
                            </p>
                        </div>
                        <div id="footer_contact_phone_icon">
                            {#<img decoding="async" width="65" height="65" src="/assets/images/web/default/phone.svg" alt="{{ lang.WEB_CONTACT_FORM_PHONE_ALT | raw }}" title="{{ lang.WEB_CONTACT_FORM_PHONE_TITLE | raw }}">#}
                            <i class="icon-phone" aria-hidden="true" title="{{ lang.WEB_CALL_US | raw }}"></i>
                        </div>
                        <div id="footer_contact_phone_phone">
                            <a href="tel:&nbsp;{% if session[config['cookies_prefix']~'_locale'] == 'es' %}{{ config.web_info_phone }}{% else %}+44 749 60 57 196{% endif %}">{% if session[config['cookies_prefix']~'_locale'] == 'es' %}{{ config.web_info_phone }}{% else %}+44 749 60 57 196{% endif %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer_contact_right">
                <div class="footer_contact_inner">
                    <div id="footer_contact_form_errors">
                        <div>{{ data.errors }}</div>
                    </div>
                    <form id="footer_contact_form_form"
                          action="/{{ lang.WEB_MENU_CONTACT_LINK | raw }}"
                          method="POST"
                          aria-label="{{ lang.WEB_CONTACT_FORM_ARIA_LABEL_FORM | raw }}"
                          novalidate="novalidate"
                    >
                        <div id="footer-contact-form-name" class="footer-contact-form-item">
                            <div class="footer-contact-form-label">
                                <label for="name" id="label-name">{{ lang.WEB_CONTACT_FORM_LABEL_NAME | raw }}</label>
                            </div>
                            <div class="footer-contact-form-input">
                                <input id="name"
                                       name="name"
                                       type="text"
                                       class="contact_form_input"
                                       autocomplete="name"
                                       required="required"
                                       aria-required="true"
                                       aria-invalid="false"
                                       placeholder="{{ lang.WEB_CONTACT_FORM_ARIA_PLACEHOLDER_NAME | raw }}"
                                       value="{{ data.name }}"
                                >
                                <div id="input_errors_name" class="input_errors">
                                </div>
                            </div>
                        </div>
                        <div id="footer-contact-form-email" class="footer-contact-form-item">
                            <div class="footer-contact-form-label">
                                <label for="email" id="label-email">{{ lang.WEB_CONTACT_FORM_LABEL_EMAIL | raw }}</label>
                            </div>
                            <div class="footer-contact-form-input">
                                <input id="email"
                                       name="email"
                                       type="email"
                                       class="contact_form_input"
                                       autocomplete="email"
                                       required="required"
                                       aria-required="true"
                                       aria-invalid="false"
                                       placeholder="{{ lang.WEB_CONTACT_FORM_PLACEHOLDER_EMAIL | raw }}"
                                       value="{{ data.email }}"
                                >
                                <div id="input_errors_email" class="input_errors">
                                </div>
                            </div>
                        </div>
                        <div id="footer-contact-form-phone" class="footer-contact-form-item">
                            <div class="footer-contact-form-label">
                                <label for="phone" id="label-phone">{{ lang.WEB_CONTACT_FORM_LABEL_PHONE | raw }}</label>
                            </div>
                            <div class="footer-contact-form-input">
                                <input id="phone"
                                       name="phone"
                                       type="tel"
                                       class="contact_form_input"
                                       autocomplete="phone"
                                       required="required"
                                       aria-required="true"
                                       aria-invalid="false"
                                       placeholder="{{ lang.WEB_CONTACT_FORM_PLACEHOLDER_PHONE | raw }}"
                                       value="{{ data.phone }}"
                                >
                                <div id="input_errors_phone" class="input_errors">
                                </div>
                            </div>
                        </div>
                        <div id="footer-contact-form-message" class="footer-contact-form-item">
                            <div class="footer-contact-form-label">
                                <label for="message">{{ lang.WEB_CONTACT_FORM_LABEL_MESSAGE | raw }}</label>
                            </div>
                            <div class="footer-contact-form-input">
                                        <textarea id="message"
                                                  name="message"
                                                  cols="40"
                                                  rows="3"
                                                  class="contact_form_input"
                                                  aria-required="true"
                                                  aria-invalid="false"
                                                  placeholder="{{ lang.WEB_CONTACT_FORM_PLACEHOLDER_MESSAGE | raw }}"
                                        >{{ data.message }}</textarea>
                                <div id="input_errors_message" class="input_errors">
                                </div>
                            </div>
                        </div>

                        <div class="cf-turnstile" data-sitekey="{{ env.turnstile_site_key }}"></div>

                        <div id="footer-contact-form-newsletter" class="footer-contact-form-item">
                            <div class="footer-contact-form-label">
                                <label>
                                    <span>
                                        <input id="newsletter_accept"
                                               name="newsletter_accept"
                                               type="checkbox"
                                               value="1"
                                               checked="checked"
                                               aria-required="false"
                                               aria-invalid="false"
                                        >
                                    </span>
                                    <span id="footer-contact-form-terms-text">
                                        {{ lang.WEB_NEWSLETTER_SUBSCRIBE | raw }}
                                    </span>
                                </label>
                                <div id="input_errors_newsletter" class="input_errors">
                                </div>
                            </div>
                        </div>
                        <div id="footer-contact-form-terms" class="footer-contact-form-item">
                            <div class="footer-contact-form-label">
                                <label>
                                    <span>
                                        <input id="terms"
                                               name="terms"
                                               type="checkbox"
                                               value="0"
                                               required="required"
                                               aria-required="true"
                                               aria-invalid="false"
                                        >
                                    </span>
                                    <span id="footer-contact-form-terms-text">
                                        {{ lang.WEB_CONTACT_FORM_TERMS_MESSAGE | replace({'%WEB_FOOTER_LEGALSTUFF_LINK%': lang.WEB_FOOTER_LEGALSTUFF_LINK, '%WEB_TITLE_LEGALSTUFF%': lang.WEB_TITLE_LEGALSTUFF, '%WEB_FOOTER_PRIVACY_POLICY_LINK%': lang.WEB_FOOTER_PRIVACY_POLICY_LINK, '%WEB_TITLE_PRIVACY_POLICY%': lang.WEB_TITLE_PRIVACY_POLICY}) | raw }}
                                    </span>
                                </label>
                                <div id="input_errors_terms" class="input_errors">
                                </div>
                            </div>
                        </div>
                        <div id="footer-contact-form-submit">
                            <input id="footer_contact_form_submit_button"
                                   name="btn_submit"
                                   type="button"
                                   class="contact_form_input"
                                   value="{{ lang.WEB_CONTACT_FORM_SUBMIT_INPUT | raw }}"
                            >
                            <div id="footer_contact_form_submit_sending">
                                {{ lang.WEB_CONTACT_FORM_SENDING | raw }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>