
<section class="footer_legal">
    <div class="footer_legal_list">
        <a id="legal_stuff" class="footer_legal_item" href="/{{ lang.WEB_FOOTER_LEGALSTUFF_LINK }}">{{ lang.WEB_FOOTER_LEGALSTUFF | raw }}</a>
        <a id="terms_conditions" class="footer_legal_item" href="/{{ lang.WEB_FOOTER_TERMSANDCONDITIONS_LINK }}">{{ lang.WEB_FOOTER_TERMSANDCONDITIONS | raw }}</a>
        <a id="privacy_policy" class="footer_legal_item" href="/{{ lang.WEB_FOOTER_PRIVACY_POLICY_LINK }}">{{ lang.WEB_FOOTER_PRIVACY_POLICY | raw }}</a>
        <a id="cookies_policy" class="footer_legal_item" href="/{{ lang.WEB_FOOTER_COOKIES_POLICY_LINK }}">{{ lang.WEB_FOOTER_COOKIES_POLICY | raw }}</a>
        {#<a id="payment_terms" class="footer_legal_item" href="/{{ lang.WEB_FOOTER_PAYMENTTERMS_LINK }}">{{ lang.WEB_FOOTER_PAYMENTTERMS | raw }}</a>#}
        <a id="accessibility_statement" class="footer_legal_item" href="/{{ lang.WEB_FOOTER_ACCESSIBILITY_STATEMENET_LINK }}">{{ lang.WEB_FOOTER_ACCESSIBILITY_STATEMENET | raw }}</a>
        <a id="sitemap" class="footer_legal_item" href="/sitemap.xml">{{ lang.APP_SITEMAPS | raw }}</a>
    </div>
</section>

<section class="footer_copyright">
    {{ config.web_copy_right }} - {{ lang.WEB_FOOTER_COPYRIGHT | raw }}
</section>

