
<section id="index_how" class="web_section">
    <div id="index_how_container" class="web_container">
        <div id="index_how_content" class="web_content">

            <div id="index_how_wrapper" class="web_wrapper">
                <div id="index_how_title">
                    <h2>
                        {{ lang.WEB_INDEX_HOW_1 | raw }} {#Proceso de Automatización de Procesos con IA#}
                    </h2>
                </div>

                <div id="index_how_panels">
                    <div id="index_how_panel_1" class="index_how_panel">
                        <div id="index_how_panel_1_image" class="index_how_panel_image">
                            <div id="index_how_panel_1_icon_img" class="index_how_panel_icon_img">
                                01
                            </div>
                        </div>
                        <div id="index_how_panel_1_title" class="index_how_panel_title">
                            {{ lang.WEB_INDEX_HOW_2 | raw }} {#Toma de requisitos#}
                        </div>
                        <div id="index_how_panel_1_text" class="index_how_panel_text">
                            {{ lang.WEB_INDEX_HOW_3 | raw }} {#Nos reunimos contigo para entender tus necesidades.#}
                        </div>
                    </div>
                    <div id="index_how_panel_2" class="index_how_panel">
                        <div id="index_how_panel_2_image" class="index_how_panel_image">
                            <div id="index_how_panel_2_icon_img" class="index_how_panel_icon_img">
                                02
                            </div>
                        </div>
                        <div id="index_how_panel_2_title" class="index_how_panel_title">
                            {{ lang.WEB_INDEX_HOW_4 | raw }} {#Estudio de tu caso#}
                        </div>
                        <div id="index_how_panel_2_text" class="index_how_panel_text">
                            {{ lang.WEB_INDEX_HOW_5 | raw }} {#Nuestros expertos analizarán tus necesidades. Establecerán las mejores soluciones para tu caso y te enviaremos una propuesta.#}
                        </div>
                    </div>
                    <div id="index_how_panel_3" class="index_how_panel">
                        <div id="index_how_panel_3_image" class="index_how_panel_image">
                            <div id="index_how_panel_3_icon_img" class="index_how_panel_icon_img">
                                03
                            </div>
                        </div>
                        <div id="index_how_panel_3_title" class="index_how_panel_title">
                            {{ lang.WEB_INDEX_HOW_6 | raw }} {#Desarrollo y personalización#}
                        </div>
                        <div id="index_how_panel_3_text" class="index_how_panel_text">
                            {{ lang.WEB_INDEX_HOW_7 | raw }} {#Para cada solución crearemos un sistema personalizado. Probaremos la adecuación a tus necesidades.#}
                        </div>
                    </div>
                    <div id="index_how_panel_4" class="index_how_panel">
                        <div id="index_how_panel_4_image" class="index_how_panel_image">
                            <div id="index_how_panel_4_icon_img" class="index_how_panel_icon_img">
                                04
                            </div>
                        </div>
                        <div id="index_how_panel_4_title" class="index_how_panel_title">
                            {{ lang.WEB_INDEX_HOW_8 | raw }} {#Pruebas en tu entorno#}
                        </div>
                        <div id="index_how_panel_4_text" class="index_how_panel_text">
                            {{ lang.WEB_INDEX_HOW_9 | raw }} {#Conectaremos las automatizaciones a tus recursos, Gmail, Google Drive, Slack, CRM...#}
                        </div>
                    </div>
                    <div id="index_how_panel_5" class="index_how_panel">
                        <div id="index_how_panel_5_image" class="index_how_panel_image">
                            <div id="index_how_panel_5_icon_img" class="index_how_panel_icon_img">
                                05
                            </div>
                        </div>
                        <div id="index_how_panel_5_title" class="index_how_panel_title">
                            {{ lang.WEB_INDEX_HOW_10 | raw }} {#Test por tu parte#}
                        </div>
                        <div id="index_how_panel_5_text" class="index_how_panel_text">
                            {{ lang.WEB_INDEX_HOW_11 | raw }} {#Antes de poner la solución en la vida real podrás probarla. Con tus sugerencias la mejoraremos, si es necesario.#}
                        </div>
                    </div>
                    <div id="index_how_panel_6" class="index_how_panel">
                        <div id="index_how_panel_6_image" class="index_how_panel_image">
                            <div id="index_how_panel_6_icon_img" class="index_how_panel_icon_img">
                                06
                            </div>
                        </div>
                        <div id="index_how_panel_6_title" class="index_how_panel_title">
                            {{ lang.WEB_INDEX_HOW_12 | raw }} {#Entrega#}
                        </div>
                        <div id="index_how_panel_6_text" class="index_how_panel_text">
                            {{ lang.WEB_INDEX_HOW_13 | raw }} {#Pondremos todos los recursos a tu disposición. Te enseñaremos cómo funciona y te daremos soporte.#}
                        </div>
                    </div>
                </div>
            </div>
            <div id="index_how_button" class="generic_button">
                <a href="{{ lang.WEB_MENU_CONTACT_LINK }}">
                    {{ lang.WEB_INDEX_HOW_14 | raw }} {#Empezamos#} >
                </a>
            </div>

        </div>
    </div>
</section>