
<section id="index_how_can_help" class="web_section">
    <div id="index_how_can_help_container" class="web_container">
        <div id="index_how_can_help_content" class="web_content">

            <div id="index_how_can_help_title">
                <h2>
                    {{ lang.WEB_INDEX_HOW_CAN_HELP_1 | raw }} {#Cómo podemos ayudarte en tu negocio#}
                </h2>
            </div>
            <div id="index_how_can_help_texts">
                <div id="index_how_can_help_panels">
                    <p>
                        <a href="/{{ lang.WEB_MENU_SOLUTIONS_LINK }}">
                            {{ lang.WEB_INDEX_HOW_CAN_HELP_2 | raw }} {#Descubre nuestras soluciones más demandadas.#}
                        </a>
                    </p>
                    <p>
                        <a href="/{{ lang.WEB_MENU_CONTACT_LINK }}">
                            {{ lang.WEB_INDEX_HOW_CAN_HELP_3 | raw }} {#Agenda una llamada y analizamos tu caso.#}
                        </a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>