
<section id="index_free_audit" class="web_section">
    <div id="index_free_audit_container" class="web_container">
        <div id="index_free_audit_content" class="web_content">

            <div id="index_free_audit_wrapper" class="web_wrapper">
                <div id="index_free_audit_title">
                    <h2>
                        {{ lang.WEB_INDEX_FREE_AUDIT_1 | raw }} {#¿Por dónde empiezo?#}
                    </h2>
                    <p>
                        {{ lang.WEB_INDEX_FREE_AUDIT_2 | raw }} {#Te ofrecemos una auditoria inicial GRATUITA#}
                    </p>
                </div>
                <div id="index_free_audit_button_solutions" class="generic_button">
                    <a href="{{ lang.WEB_MENU_SOLUTIONS_LINK }}">
                        {{ lang.WEB_INDEX_FREE_AUDIT_3 | raw }} {#¿Quieres saber que se puede automatizar de tu negocio?#}&nbsp;&nbsp;>
                    </a>
                </div>
                <div id="index_free_audit_button_contact" class="generic_button">
                    <a href="{{ lang.WEB_MENU_CONTACT_LINK }}">
                        {{ lang.WEB_INDEX_FREE_AUDIT_4 | raw }} {#¿Quieres que te ayudemos?#}&nbsp;&nbsp;>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>