
<section id="index_customization" class="web_section">
    <div id="index_customization_container" class="web_container">
        <div id="index_customization_content" class="web_content">

            <div id="index_customization_wrapper" class="web_wrapper">
                <div id="index_customization_title">
                    <h2>
                        {{ lang.WEB_INDEX_CUSTOMIZATION_1 | raw }} {#Personalización total#}
                    </h2>
                    <p>
                        {{ lang.WEB_INDEX_CUSTOMIZATION_2 | raw }} {#Soluciones diseñadas a la medida de tus objetivos y necesidades.#}
                    </p>
                </div>

                <div id="index_customization_panels">
                    <div id="index_customization_panel_1" class="index_customization_panel">
                        <div id="index_customization_panel_1_title" class="index_customization_panel_title">
                            {{ lang.WEB_INDEX_CUSTOMIZATION_3 | raw }} {#Análisis#}
                        </div>
                        <div id="index_customization_panel_1_explain" class="index_customization_panel_explain">
                            {{ lang.WEB_INDEX_CUSTOMIZATION_4 | raw }} {#Identificamos las oportunidades de automatizaciones evaluando tus sistemas actuales.#}
                        </div>
                    </div>

                    <div id="index_customization_panel_2" class="index_customization_panel">
                        <div id="index_customization_panel_2_title" class="index_customization_panel_title">
                            {{ lang.WEB_INDEX_CUSTOMIZATION_5 | raw }} {#Diseño de tu solucion#}
                        </div>
                        <div id="index_customization_panel_2_explain" class="index_customization_panel_explain">
                            {{ lang.WEB_INDEX_CUSTOMIZATION_6 | raw }} {#Creamos soluciones optimizadas para ti. Privacidad y seguridad aseguradas.#}
                        </div>
                    </div>

                    <div id="index_customization_panel_3" class="index_customization_panel">
                        <div id="index_customization_panel_3_title" class="index_customization_panel_title">
                            {{ lang.WEB_INDEX_CUSTOMIZATION_7 | raw }} {#Implementación y seguimiento#}
                        </div>
                        <div id="index_customization_panel_3_explain" class="index_customization_panel_explain">
                            {{ lang.WEB_INDEX_CUSTOMIZATION_8 | raw }} {#Transición fluída a la nueva situación, garantizamos el éxito.#}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>