{% set path = '/assets/images/web/'~config.website_skin~'/bands/index_hero/' %}

<section id="index_what_can_be" class="web_section">
    <div id="index_what_can_be_container" class="web_container">
        <div id="index_what_can_be_content" class="web_content">

            <div id="index_what_can_be_wrapper" class="web_wrapper">

                <div id="index_what_can_be_title">
                    <h2>
                        {{ lang.WEB_INDEX_WHAT_CAN_BE_1 | raw }} {#¿Que se puede Automatizar?#}
                    </h2>
                </div>

                <div id="index_what_can_be_panels">
                    <div id="index_what_can_be_panel_1" class="index_what_can_be_panel">
                        <div id="index_what_can_be_panel_1_icon" class="index_what_can_be_panel_icon">
                            <div id="index_what_can_be_panel_1_ring" class="index_what_can_be_panel_ring">
                                <div id="index_what_can_be_panel_1_icon_img" class="index_what_can_be_panel_icon_img">
                                    <img src="{{ path }}iconos_what_1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="index_what_can_be_panel_1_title" class="index_what_can_be_panel_title">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_2 | raw }} {#Marketing#}
                        </div>
                        <div id="index_what_can_be_panel_1_text" class="index_what_can_be_panel_text">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_3 | raw }} {#Captación, calificación y comunicación automatizada de leads.#}
                        </div>
                    </div>
                    <div id="index_what_can_be_panel_2" class="index_what_can_be_panel">
                        <div id="index_what_can_be_panel_2_icon" class="index_what_can_be_panel_icon">
                            <div id="index_what_can_be_panel_2_ring" class="index_what_can_be_panel_ring">
                                <div id="index_what_can_be_panel_2_icon_img" class="index_what_can_be_panel_icon_img">
                                    <div id="index_what_can_be_panel_2_icon_img" class="index_what_can_be_panel_icon_img">
                                        <img src="{{ path }}iconos_what_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="index_what_can_be_panel_2_title" class="index_what_can_be_panel_title">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_4 | raw }} {#Administración#}
                        </div>
                        <div id="index_what_can_be_panel_2_text" class="index_what_can_be_panel_text">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_5 | raw }} {#Automatización de tareas repetitivas y flujos de trabajos administrativos.#}
                        </div>
                    </div>
                    <div id="index_what_can_be_panel_3" class="index_what_can_be_panel">
                        <div id="index_what_can_be_panel_3_icon" class="index_what_can_be_panel_icon">
                            <div id="index_what_can_be_panel_3_ring" class="index_what_can_be_panel_ring">
                                <div id="index_what_can_be_panel_3_icon_img" class="index_what_can_be_panel_icon_img">
                                    <div id="index_what_can_be_panel_3_icon_img" class="index_what_can_be_panel_icon_img">
                                        <img src="{{ path }}iconos_what_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="index_what_can_be_panel_3_title" class="index_what_can_be_panel_title">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_6 | raw }} {#Atención al cliente#}
                        </div>
                        <div id="index_what_can_be_panel_3_text" class="index_what_can_be_panel_text">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_7 | raw }} {#Respuestas y comunicaciones automatizadas.#}
                        </div>
                    </div>
                    <div id="index_what_can_be_panel_4" class="index_what_can_be_panel">
                        <div id="index_what_can_be_panel_4_icon" class="index_what_can_be_panel_icon">
                            <div id="index_what_can_be_panel_4_ring" class="index_what_can_be_panel_ring">
                                <div id="index_what_can_be_panel_4_icon_img" class="index_what_can_be_panel_icon_img">
                                    <div id="index_what_can_be_panel_4_icon_img" class="index_what_can_be_panel_icon_img">
                                        <img src="{{ path }}iconos_what_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="index_what_can_be_panel_4_title" class="index_what_can_be_panel_title">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_8 | raw }} {#Contabilidad#}
                        </div>
                        <div id="index_what_can_be_panel_4_text" class="index_what_can_be_panel_text">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_9 | raw }} {#Creación de flujos contables adaptados a tu negocio.#}
                        </div>
                    </div>
                    <div id="index_what_can_be_panel_5" class="index_what_can_be_panel">
                        <div id="index_what_can_be_panel_5_icon" class="index_what_can_be_panel_icon">
                            <div id="index_what_can_be_panel_5_ring" class="index_what_can_be_panel_ring">
                                <div id="index_what_can_be_panel_5_icon_img" class="index_what_can_be_panel_icon_img">
                                    <div id="index_what_can_be_panel_5_icon_img" class="index_what_can_be_panel_icon_img">
                                        <img src="{{ path }}iconos_what_5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="index_what_can_be_panel_5_title" class="index_what_can_be_panel_title">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_10 | raw }} {#Integracion de aplicaciones#}
                        </div>
                        <div id="index_what_can_be_panel_5_text" class="index_what_can_be_panel_text">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_11 | raw }} {#Configuración de reportes e informes automatizados periódicos.#}
                        </div>
                    </div>
                    <div id="index_what_can_be_panel_6" class="index_what_can_be_panel">
                        <div id="index_what_can_be_panel_6_icon" class="index_what_can_be_panel_icon">
                            <div id="index_what_can_be_panel_6_ring" class="index_what_can_be_panel_ring">
                                <div id="index_what_can_be_panel_6_icon_img" class="index_what_can_be_panel_icon_img">
                                    <div id="index_what_can_be_panel_6_icon_img" class="index_what_can_be_panel_icon_img">
                                        <img src="{{ path }}iconos_what_6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="index_what_can_be_panel_6_title" class="index_what_can_be_panel_title">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_12 | raw }} {#Asistentes personales#}
                        </div>
                        <div id="index_what_can_be_panel_6_text" class="index_what_can_be_panel_text">
                            {{ lang.WEB_INDEX_WHAT_CAN_BE_13 | raw }} {#Asistentes que realizan tareas por nosotros. Generar citas en la agenda, enviar mails....#}
                        </div>
                    </div>
                </div>
                <div id="index_what_can_be_footer_text">
                    {{ lang.WEB_INDEX_WHAT_CAN_BE_14 | raw }} {#Cada servicio se personaliza según las necesidades específicas de tu empresa, garantizando soluciones que realmente impulsen tu negocio.#}
                </div>
            </div>

        </div>
    </div>
</section>