{% set path = '/assets/images/web/'~config.website_skin~'/bands/template/' %}
{% set fondo_img = path ~ 'index_percentajes.png' %}
{% set fondo_color = path ~ 'index_percentajes.png' %}
{% set fondo = 'color' %}

<style>
    #index_percentajes_container
    {
    {% if fondo == 'image' %}
        background-image: url({{ fondo_img }});
        background-size: cover;
        background-position: center center;
    {% else %}
        background-color: var(--highlight-color);
    {% endif %}
    }
</style>

<section id="index_percentajes" class="web_section">
    <div id="index_percentajes_container" class="web_container">
        <div id="index_percentajes_content" class="web_content">

            <div id="index_percentajes_wrapper" class="web_wrapper">

                <div id="index_percentajes_title">
                    <h2>
                        {{ lang.WEB_INDEX_PERCENTAJES_1 | raw }} {#Tecnología que impulsa la eficiencia#}
                    </h2>
                </div>

                <div id="index_percentajes_panels">
                    <div id="index_percentajes_panel_1" class="index_percentajes_panel">
                        <div id="index_percentajes_panel_1_number" class="index_percentajes_panel_number">
                            40%
                        </div>
                        <h3 id="index_percentajes_panel_1_text_1" class="index_percentajes_panel_text">
                            {{ lang.WEB_INDEX_PERCENTAJES_2 | raw }} {#Ahorro en costes#}
                        </h3>
                        <div id="index_percentajes_panel_1_text_2" class="index_percentajes_panel_text">
                            {{ lang.WEB_INDEX_PERCENTAJES_3 | raw }} {#Promedio conseguido en nuestros proyectos de automatización integral#}
                        </div>
                    </div>
                    <div id="index_percentajes_panel_2" class="index_percentajes_panel">
                        <div id="index_percentajes_panel_2_number" class="index_percentajes_panel_number">
                            25%
                        </div>
                        <h3 id="index_percentajes_panel_1_text_2" class="index_percentajes_panel_text">
                            {{ lang.WEB_INDEX_PERCENTAJES_4 | raw }} {#Incremento de ventas#}
                        </h3>
                        <div id="index_percentajes_panel_1_text_1_2" class="index_percentajes_panel_text">
                            {{ lang.WEB_INDEX_PERCENTAJES_5 | raw }} {#La automatización de la prospección de leads genera nuevas oportunidades.#}
                        </div>
                    </div>
                    <div id="index_percentajes_panel_3" class="index_percentajes_panel">
                        <div id="index_percentajes_panel_3_number" class="index_percentajes_panel_number">
                            70%
                        </div>
                        <h3 id="index_percentajes_panel_1_text_3" class="index_percentajes_panel_text">
                            {{ lang.WEB_INDEX_PERCENTAJES_6 | raw }} {#Errores evitados#}
                        </h3>
                        <div id="index_percentajes_panel_1_text_1_3" class="index_percentajes_panel_text">
                            {{ lang.WEB_INDEX_PERCENTAJES_7 | raw }} {#Automatizar tareas repetitivas minimiza la tasa de errores.#}
                        </div>
                    </div>
                </div>
                <div id="index_percentajes_footer_text">
                    <div id="index_percentajes_footer_text_1" class="index_percentajes_footer_text">
                        {{ lang.WEB_INDEX_PERCENTAJES_8 | raw }} {#Cada servicio se personaliza según las necesidades específicas de tu empresa.#}
                    </div>
                    <div id="index_percentajes_footer_text_2" class="index_percentajes_footer_text">
                        {{ lang.WEB_INDEX_PERCENTAJES_9 | raw }} {#Garantizamos soluciones que realmente impulsan tu negocio.#}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>