{% set path = '/assets/images/web/'~config.website_skin~'/bands/sectors/' %}

<section id="sectors_list" class="web_section">
    <div id="sectors_list_container" class="web_container">
        <div id="sectors_list_content" class="web_content">


            <div id="sectors_list_wrapper" class="web_wrapper">

                <div id="sectors_list_title">
                    <h2>
                        {{ lang.WEB_SECTORS_LIST_1 | raw  }} ¿A que sector perteneces?
                    </h2>
                </div>

                <div id="sectors_list_panels">

                    <a href="#" id="sectors_list_panel_1" class="sectors_list_panel">
                        <div id="sectors_list_panel_1_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_1_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_1_icon_img" class="sectors_list_panel_icon_img">
                                    <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_1_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_2 | raw  }} Academias y Formación Online Premium
                        </div>
                        {#
                        <div id="sectors_list_panel_1_text" class="sectors_list_panel_text">
                            Captación, calificación y comunicación automatizada de leads.
                        </div>
                        #}
                    </a>
                    <a href="#" id="sectors_list_panel_2" class="sectors_list_panel">
                        <div id="sectors_list_panel_2_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_2_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_2_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_2_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_2_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_3 | raw  }} Agencias de Marketing y Consultores
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_3" class="sectors_list_panel">
                        <div id="sectors_list_panel_3_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_3_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_3_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_3_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_3_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_4 | raw  }} Agroalimentario
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_4" class="sectors_list_panel">
                        <div id="sectors_list_panel_4_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_4_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_4_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_4_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_4_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_5 | raw  }} Automoción
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_5" class="sectors_list_panel">
                        <div id="sectors_list_panel_5_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_5_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_5_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_5_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_5_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_6 | raw  }} Centro de estética
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_6" class="sectors_list_panel">
                        <div id="sectors_list_panel_6_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_6_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_6_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_6_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_6_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_7 | raw  }} Clínicas dentales
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_7" class="sectors_list_panel">
                        <div id="sectors_list_panel_7_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_7_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_7_icon_img" class="sectors_list_panel_icon_img">
                                    <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_1_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_8 | raw  }} Construcción
                        </div>
                        {#
                        <div id="sectors_list_panel_1_text" class="sectors_list_panel_text">
                            Captación, calificación y comunicación automatizada de leads.
                        </div>
                        #}
                    </a>
                    <a href="#" id="sectors_list_panel_8" class="sectors_list_panel">
                        <div id="sectors_list_panel_8_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_8_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_8_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_8_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_8_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_9 | raw  }} Ecommerce
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_9" class="sectors_list_panel">
                        <div id="sectors_list_panel_9_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_9_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_9_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_9_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_9_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_10 | raw  }} Educación
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_10" class="sectors_list_panel">
                        <div id="sectors_list_panel_10_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_10_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_10_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_10_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_10_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_11 | raw  }} Finanzas
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_11" class="sectors_list_panel">
                        <div id="sectors_list_panel_11_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_11_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_11_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_11_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_11_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_12 | raw  }} Gestorías y Asesorías fiscales
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_12" class="sectors_list_panel">
                        <div id="sectors_list_panel_12_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_12_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_12_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_12_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_12_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_13 | raw  }} Industria
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_12" class="sectors_list_panel">
                        <div id="sectors_list_panel_13_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_13_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_13_icon_img" class="sectors_list_panel_icon_img">
                                    <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_13_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_14 | raw  }} Inmobiliaria
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_14" class="sectors_list_panel">
                        <div id="sectors_list_panel_14_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_14_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_14_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_14_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_14_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_15 | raw  }} Legal
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_15" class="sectors_list_panel">
                        <div id="sectors_list_panel_15_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_15_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_15_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_15_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_15_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_16 | raw  }} Logística
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_16" class="sectors_list_panel">
                        <div id="sectors_list_panel_16_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_16_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_16_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_16_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_16_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_17 | raw  }} Marketing
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_17" class="sectors_list_panel">
                        <div id="sectors_list_panel_17_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_17_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_17_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_17_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_17_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_18 | raw  }} Restauración
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_18" class="sectors_list_panel">
                        <div id="sectors_list_panel_18_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_18_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_19_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_18_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_18_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_19 | raw  }} Sanidad
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_19" class="sectors_list_panel">
                        <div id="sectors_list_panel_19_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_19_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_19_icon_img" class="sectors_list_panel_icon_img">
                                    <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_19_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_20 | raw  }} Turismo
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_20" class="sectors_list_panel">
                        <div id="sectors_list_panel_20_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_20_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_20_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_20_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_20_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_21 | raw  }} Veterinarios
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_21" class="sectors_list_panel">
                        <div id="sectors_list_panel_21_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_21_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_21_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_21_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_21_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_22 | raw  }} Atención al cliente
                        </div>
                    </a>
                    <a href="#" id="sectors_list_panel_22" class="sectors_list_panel">
                        <div id="sectors_list_panel_22_icon" class="sectors_list_panel_icon">
                            <div id="sectors_list_panel_22_ring" class="sectors_list_panel_ring">
                                <div id="sectors_list_panel_22_icon_img" class="sectors_list_panel_icon_img">
                                    <div id="sectors_list_panel_22_icon_img" class="sectors_list_panel_icon_img">
                                        <img src="{{ path }}iconos_sectors_list_1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sectors_list_panel_22_title" class="sectors_list_panel_title">
                            {{ lang.WEB_SECTORS_LIST_23 | raw  }} Contabilidad
                        </div>
                    </a>

                </div>
                <div id="sectors_list_footer_text">
                    Cada servicio se personaliza según las necesidades específicas de tu empresa, garantizando soluciones que realmente impulsen tu negocio.
                </div>
            </div>

            {#
            {% if data.sectors %}
                <div id="sector_list">
                    {% for item in data.sectors %}
                        <div id="sector_item_{{ item.id }}"
                             data-item="{{ item.key }}"
                             class="sector_item">
                            <div id="sector_item_picture_{{ item.id }}"
                                 class="sector_item_picture">
                                <img id="sector_item_picture_img_{{ item.id }}"
                                     class="sector_item_picture"
                                     src="{{ path }}{% if item.picture %}{{  item.picture }}{% else %}transparent.png{% endif %}"
                                     alt=""
                                />
                            </div>
                            <div id="sector_item_name_{{ item.id }}"
                                 class="sector_item_name">
                                {{ item.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div>{{ lang.SECTOR_NOT_FOUND }}</div>
            {% endif %}
            #}

        </div>
    </div>
</section>