{% set path = '/assets/images/web/'~config.website_skin~'/bands/solutions/' %}

<section id="solution_invoices_benefits" class="web_section">
    <div id="solution_invoices_benefits_container" class="web_container">
        <div id="solution_invoices_benefits_content" class="web_content">

            <div id="solution_invoices_benefits_wrapper" class="web_wrapper">

                <div id="solution_invoices_benefits_title">
                    <h2>
                        {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_1 | raw }} {#¿Qué solucionamos?#}
                    </h2>
                </div>

                <div id="solution_invoices_benefits_panels">
                    <div id="solution_invoices_benefits_panel_1" class="solution_invoices_benefits_panel">
                        <div id="solution_invoices_benefits_panel_1_icon" class="solution_invoices_benefits_panel_icon">
                            <div id="solution_invoices_benefits_panel_1_ring" class="solution_invoices_benefits_panel_ring">
                                <div id="solution_invoices_benefits_panel_1_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                    <img src="{{ path }}iconos_solution_invoices_1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="solution_invoices_benefits_panel_1_title" class="solution_invoices_benefits_panel_title">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_2 | raw }} {#Hasta un 80 % menos de tiempo en introducir facturas#}
                        </div>
                        <div id="solution_invoices_benefits_panel_1_text" class="solution_invoices_benefits_panel_text">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_3 | raw }} {#Se acabó teclear, copiar y pegar o perseguir campos que faltan.#}
                        </div>
                    </div>
                    <div id="solution_invoices_benefits_panel_2" class="solution_invoices_benefits_panel">
                        <div id="solution_invoices_benefits_panel_2_icon" class="solution_invoices_benefits_panel_icon">
                            <div id="solution_invoices_benefits_panel_2_ring" class="solution_invoices_benefits_panel_ring">
                                <div id="solution_invoices_benefits_panel_2_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                    <div id="solution_invoices_benefits_panel_2_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                        <img src="{{ path }}iconos_solution_invoices_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solution_invoices_benefits_panel_2_title" class="solution_invoices_benefits_panel_title">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_4 | raw }} {#Muchos menos errores y correcciones#}
                        </div>
                        <div id="solution_invoices_benefits_panel_2_text" class="solution_invoices_benefits_panel_text">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_5 | raw }} {#Controles automáticos de IVA, totales y duplicados antes de contabilizar.#}
                        </div>
                    </div>
                    <div id="solution_invoices_benefits_panel_3" class="solution_invoices_benefits_panel">
                        <div id="solution_invoices_benefits_panel_3_icon" class="solution_invoices_benefits_panel_icon">
                            <div id="solution_invoices_benefits_panel_3_ring" class="solution_invoices_benefits_panel_ring">
                                <div id="solution_invoices_benefits_panel_3_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                    <div id="solution_invoices_benefits_panel_3_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                        <img src="{{ path }}iconos_solution_invoices_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solution_invoices_benefits_panel_3_title" class="solution_invoices_benefits_panel_title">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_6 | raw }} {#Equipos de finanzas y operaciones más felices#}
                        </div>
                        <div id="solution_invoices_benefits_panel_3_text" class="solution_invoices_benefits_panel_text">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_7 | raw }} {#Se centran en aprobaciones, flujo de caja y excepciones, no en entrar datos.#}
                        </div>
                    </div>
                    <div id="solution_invoices_benefits_panel_4" class="solution_invoices_benefits_panel">
                        <div id="solution_invoices_benefits_panel_4_icon" class="solution_invoices_benefits_panel_icon">
                            <div id="solution_invoices_benefits_panel_4_ring" class="solution_invoices_benefits_panel_ring">
                                <div id="solution_invoices_benefits_panel_4_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                    <div id="solution_invoices_benefits_panel_4_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                        <img src="{{ path }}iconos_solution_invoices_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solution_invoices_benefits_panel_4_title" class="solution_invoices_benefits_panel_title">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_8 | raw }} {#Cierres contables más ágiles#}
                        </div>
                        <div id="solution_invoices_benefits_panel_4_text" class="solution_invoices_benefits_panel_text">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_9 | raw }} {#Las facturas se registran antes, lo que facilita el cierre de mes y mejora la visión de tu flujo de caja.#}
                        </div>
                    </div>
                    <div id="solution_invoices_benefits_panel_5" class="solution_invoices_benefits_panel">
                        <div id="solution_invoices_benefits_panel_5_icon" class="solution_invoices_benefits_panel_icon">
                            <div id="solution_invoices_benefits_panel_5_ring" class="solution_invoices_benefits_panel_ring">
                                <div id="solution_invoices_benefits_panel_5_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                    <div id="solution_invoices_benefits_panel_5_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                        <img src="{{ path }}iconos_solution_invoices_5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solution_invoices_benefits_panel_5_title" class="solution_invoices_benefits_panel_title">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_10 | raw }} {#Cero fricción en adopción#}
                        </div>
                        <div id="solution_invoices_benefits_panel_5_text" class="solution_invoices_benefits_panel_text">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_11 | raw }} {#Todo el mundo sigue usando WhatsApp y Telegram. El trabajo pesado ocurre en segundo plano#}
                        </div>
                    </div>
                    <div id="solution_invoices_benefits_panel_6" class="solution_invoices_benefits_panel">
                        <div id="solution_invoices_benefits_panel_6_icon" class="solution_invoices_benefits_panel_icon">
                            <div id="solution_invoices_benefits_panel_6_ring" class="solution_invoices_benefits_panel_ring">
                                <div id="solution_invoices_benefits_panel_6_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                    <div id="solution_invoices_benefits_panel_6_icon_img" class="solution_invoices_benefits_panel_icon_img">
                                        <img src="{{ path }}iconos_solution_invoices_6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solution_invoices_benefits_panel_6_title" class="solution_invoices_benefits_panel_title">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_12 | raw }} {#Visibilidad y trazabilidad completas#}
                        </div>
                        <div id="solution_invoices_benefits_panel_6_text" class="solution_invoices_benefits_panel_text">
                            {{ lang.WEB_SOLUTION_INVOICES_BENEFITS_13 | raw }} {#Cada factura, mensaje y archivo procesado queda registrado para saber siempre quién envió qué y cuándo.#}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>