{% set path = '/assets/images/web/'~config.website_skin~'/bands/solutions/' %}

<section id="solutions_all" class="web_section">
    <div id="solutions_all_container" class="web_container">
        <div id="solutions_all_content" class="web_content">

            <div id="solutions_all_wrapper" class="web_wrapper">

                <div id="solutions_all_title">
                    <h2>
                        {{ lang.WEB_SOLUTIONS_ALL_1 | raw  }} {#Procesos automatizables#}
                    </h2>
                </div>

                <div id="solutions_all_panels">
                    <div id="solutions_all_panel_1" class="solutions_all_panel">
                        <div id="solutions_all_panel_1_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_1_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_1_icon_img" class="solutions_all_panel_icon_img">
                                    <img src="{{ path }}iconos_solutions_all_1.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_1_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_2 | raw  }} {#Automatizaciones de<br> Procesos Empresariales#}
                        </div>
                        <div id="solutions_all_panel_1_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_3 | raw  }} {#Procesos empresariales (BPA – Business Process Automation).#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_4 | raw  }} {#Gestión documental.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_5 | raw  }} {#Contratos y documentos legales.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_6 | raw  }} {#Gestión de proveedores.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_7 | raw  }} {#Auditorías y cumplimiento.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_8 | raw  }} {#Monitoreo y mantenimiento preventivo.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_9 | raw  }} {#Gestión energética.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_10 | raw  }} {#Análisis de rendimiento empresarial (KPI’s).#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_11 | raw  }} {#Procesos de backoffice.#}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="solutions_all_panel_2" class="solutions_all_panel">
                        <div id="solutions_all_panel_2_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_2_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_2_icon_img" class="solutions_all_panel_icon_img">
                                    <div id="solutions_all_panel_2_icon_img" class="solutions_all_panel_icon_img">
                                        <img src="{{ path }}iconos_solutions_all_2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_2_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_12 | raw  }} {#Automatizaciones de<br> Marketing y Ventas#}
                        </div>
                        <div id="solutions_all_panel_2_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_13 | raw  }} {#Marketing digital.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_14 | raw  }} {#CRM para gestión de leads.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_15 | raw  }} {#Publicidad digital (Google Ads, Facebook Ads).#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_16 | raw  }} {#Promociones personalizadas.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_17 | raw  }} {#Retargeting.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_18 | raw  }} {#Flujos de lead nurturing.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_19 | raw  }} {#Estrategias SEO.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_20 | raw  }} {#Seguimiento de conversiones.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_21 | raw  }} {#Programas de fidelización.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_22 | raw  }} {#A/B testing.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_23 | raw  }} {#Respuestas en comentarios en Redes Sociales.#}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="solutions_all_panel_3" class="solutions_all_panel">
                        <div id="solutions_all_panel_3_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_3_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_3_icon_img" class="solutions_all_panel_icon_img">
                                    <div id="solutions_all_panel_3_icon_img" class="solutions_all_panel_icon_img">
                                        <img src="{{ path }}iconos_solutions_all_3.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_3_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_24 | raw  }} {#Automatizaciones de<br> Atención al Cliente#}
                        </div>
                        <div id="solutions_all_panel_3_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_25 | raw  }} {#Respuestas en Chatbots.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_26 | raw  }} {#Tickets de soporte.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_27 | raw  }} {#Encuestas de satisfacción.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_28 | raw  }} {#Gestión de FAQs.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_29 | raw  }} {#Seguimientos postventa.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_30 | raw  }} {#Notificaciones de estado de consultas.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_31 | raw  }} {#Gestión de quejas y reclamos.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_32 | raw  }} {#Escalado de consultas complejas.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_33 | raw  }} {#Documentos a clientes.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_34 | raw  }} {#Programación de citas.#}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="solutions_all_panel_4" class="solutions_all_panel">
                        <div id="solutions_all_panel_4_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_4_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_4_icon_img" class="solutions_all_panel_icon_img">
                                    <div id="solutions_all_panel_4_icon_img" class="solutions_all_panel_icon_img">
                                        <img src="{{ path }}iconos_solutions_all_4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_4_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_35 | raw  }} {#Automatizaciones de<br> Recursos Humanos#}
                        </div>
                        <div id="solutions_all_panel_4_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_36 | raw  }} {#Onboarding de nuevos empleados.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_37 | raw  }} {#Publicación de ofertas de trabajo.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_38 | raw  }} {#Procesos de contratación.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_39 | raw  }} {#Nóminas y pagos a empleados.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_40 | raw  }} {#Capacitación y evaluaciones.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_41 | raw  }} {#Seguimientos de progreso.#}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="solutions_all_panel_5" class="solutions_all_panel">
                        <div id="solutions_all_panel_5_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_5_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_5_icon_img" class="solutions_all_panel_icon_img">
                                    <div id="solutions_all_panel_5_icon_img" class="solutions_all_panel_icon_img">
                                        <img src="{{ path }}iconos_solutions_all_5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_5_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_42 | raw  }} {#Automatizaciones<br> Financieras#}
                        </div>
                        <div id="solutions_all_panel_5_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_43 | raw  }} {#Facturación y pagos electrónicos.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_44 | raw  }} {#Cuentas por cobrar y pagar.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_45 | raw  }} {#Pagos recurrentes.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_46 | raw  }} {#Generación de reportes fiscales.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_47 | raw  }} {#Gestión presupuestaria.#}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="solutions_all_panel_6" class="solutions_all_panel">
                        <div id="solutions_all_panel_6_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_6_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_6_icon_img" class="solutions_all_panel_icon_img">
                                    <div id="solutions_all_panel_6_icon_img" class="solutions_all_panel_icon_img">
                                        <img src="{{ path }}iconos_solutions_all_6.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_6_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_48 | raw  }} {#Automatizaciones para<br> E-commerce#}
                        </div>
                        <div id="solutions_all_panel_6_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_49 | raw  }} {#Pedidos y envíos.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_50 | raw  }} {#Recuperación de carritos abandonados.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_51 | raw  }} {#Gestión de inventarios.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_52 | raw  }} {#Suscripciones y renovaciones.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_53 | raw  }} {#Notificaciones de envío#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_54 | raw  }} {#Seguimiento de productos favoritos.#}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="solutions_all_panel_7" class="solutions_all_panel">
                        <div id="solutions_all_panel_7_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_7_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_7_icon_img" class="solutions_all_panel_icon_img">
                                    <div id="solutions_all_panel_7_icon_img" class="solutions_all_panel_icon_img">
                                        <img src="{{ path }}iconos_solutions_all_7.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_7_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_55 | raw  }} {#Automatizaciones<br> Industriales y Logísticas#}
                        </div>
                        <div id="solutions_all_panel_7_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_56 | raw  }} {#Logística y cadena de suministro.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_57 | raw  }} {#Producción industrial.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_58 | raw  }} {#Monitoreo de sensores IoT en fábricas.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_59 | raw  }} {#Optimización de rutas de transporte.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_60 | raw  }} {#Gestión de almacenes.#}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="solutions_all_panel_8" class="solutions_all_panel">
                        <div id="solutions_all_panel_8_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_8_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_8_icon_img" class="solutions_all_panel_icon_img">
                                    <div id="solutions_all_panel_8_icon_img" class="solutions_all_panel_icon_img">
                                        <img src="{{ path }}iconos_solutions_all_8.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_8_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_61 | raw  }} {#Automatizaciones de<br> Infraestructura Tecnológica#}
                        </div>
                        <div id="solutions_all_panel_8_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_62 | raw  }} {#Actualizaciones de software.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_63 | raw  }} {#Backups y recuperación de datos.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_64 | raw  }} {#Seguridad Digital (Contraseñas, Accesos).#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_65 | raw  }} {#Monitoreo de servidores.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_66 | raw  }} {#Gestión de Infraestructura en la Nube (AWS, Azure).#}
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div id="solutions_all_panel_9" class="solutions_all_panel">
                        <div id="solutions_all_panel_9_icon" class="solutions_all_panel_icon">
                            <div id="solutions_all_panel_9_ring" class="solutions_all_panel_ring">
                                <div id="solutions_all_panel_9_icon_img" class="solutions_all_panel_icon_img">
                                    <div id="solutions_all_panel_9_icon_img" class="solutions_all_panel_icon_img">
                                        <img src="{{ path }}iconos_solutions_all_9.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="solutions_all_panel_9_title" class="solutions_all_panel_title">
                            {{ lang.WEB_SOLUTIONS_ALL_67 | raw  }} {#Automatizaciones de<br> Gestión de Proyectos#}
                        </div>
                        <div id="solutions_all_panel_9_text" class="solutions_all_panel_text">
                            <ol class="negrita_numeros">
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_68 | raw  }} {#Gestión de proyectos.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_69 | raw  }} {#Asignación de tareas.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_70 | raw  }} {#Seguimientos de progreso.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_71 | raw  }} {#Informes de avance.#}
                                </li>
                                <li>
                                    {{ lang.WEB_SOLUTIONS_ALL_72 | raw  }} {#Comunicaciones internas.#}
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div id="solutions_all_footer_text">
                    {{ lang.WEB_SOLUTIONS_ALL_73 | raw  }} {#Personalizamos cada servicio para maximizar su impacto en tu negocio, impulsando la eficiencia, la innovación y la rentabilidad.#}
                </div>
            </div>

        </div>
    </div>
</section>