
<section id="solutions_pack" class="web_section">
    <div id="solutions_pack_container" class="web_container">
        <div id="solutions_pack_content" class="web_content">

            <div id="solutions_pack_wrapper">
                <div id="solutions_pack_title">
                    <h2>
                        {{ lang.WEB_SOLUTIONS_PACK_1 | raw }} {#Soluciones prediseñadas y probadas#}
                    </h2>
                </div>

                <div id="solutions_pack_panels">
                    <a href="/solution_invoices" id="solutions_pack_panel_1" class="solutions_pack_panel">
                        <div id="solutions_pack_panel_1_title" class="solutions_pack_panel_title">
                            {{ lang.WEB_SOLUTIONS_PACK_2 | raw }} {#Gestión de facturas vía WhatsApp/Telegram#}
                        </div>
                        <div id="solutions_pack_panel_1_explain" class="solutions_pack_panel_explain">
                            {{ lang.WEB_SOLUTIONS_PACK_3 | raw }} {#Convierte una imagen en un registro contable al instante. Automatizamos la entrada de datos para que tu equipo no pierda ni un minuto más tecleando facturas. Ni un error más.#}
                        </div>
                    </a>

                    <a href="/solution_expense_notes" id="solutions_pack_panel_2" class="solutions_pack_panel">
                        <div id="solutions_pack_panel_2_title" class="solutions_pack_panel_title">
                            {{ lang.WEB_SOLUTIONS_PACK_4 | raw }} {#Notas de gastos#}
                        </div>
                        <div id="solutions_pack_panel_2_explain" class="solutions_pack_panel_explain">
                            {{ lang.WEB_SOLUTIONS_PACK_5 | raw }} {#Haz que el reporte de gastos sea tan fácil como enviar un mensaje. La solución reconoce el contenido de la factura y la vuelca directamente en tu software de gestión.#}
                        </div>
                    </a>

                    <a href="/solution_personal_assistant" id="solutions_pack_panel_3" class="solutions_pack_panel">
                        <div id="solutions_pack_panel_3_title" class="solutions_pack_panel_title">
                            {{ lang.WEB_SOLUTIONS_PACK_6 | raw }} {#Asistente Personal: Tu brazo derecho digital.#}
                        </div>
                        <div id="solutions_pack_panel_3_explain" class="solutions_pack_panel_explain">
                            {{ lang.WEB_SOLUTIONS_PACK_7 | raw }} {#Un apoyo que no descansa. Gestiona tu agenda, responde mensajes y organiza tus tareas diarias para que tú solo te ocupes de lo que de verdad importa: decidir y crear.#}
                        </div>
                    </a>

                    {#
                    <a href="/" id="solutions_pack_panel_4" class="solutions_pack_panel">
                        <div id="solutions_pack_panel_4_title" class="solutions_pack_panel_title">
                            {{ lang.WEB_SOLUTIONS_PACK_8 | raw }}
                        </div>
                        <div id="solutions_pack_panel_4_explain" class="solutions_pack_panel_explain">
                            {{ lang.WEB_SOLUTIONS_PACK_9 | raw }}

                        </div>
                    </a>

                    <a href="/" id="solutions_pack_panel_5" class="solutions_pack_panel">
                        <div id="solutions_pack_panel_5_title" class="solutions_pack_panel_title">
                            {{ lang.WEB_SOLUTIONS_PACK_10 | raw }}
                        </div>
                        <div id="solutions_pack_panel_5_explain" class="solutions_pack_panel_explain">
                            {{ lang.WEB_SOLUTIONS_PACK_11 | raw }}
                        </div>
                    </a>

                    <a href="/" id="solutions_pack_panel_6" class="solutions_pack_panel">
                        <div id="solutions_pack_panel_6_title" class="solutions_pack_panel_title">
                            {{ lang.WEB_SOLUTIONS_PACK_12 | raw }}
                        </div>
                        <div id="solutions_pack_panel_6_explain" class="solutions_pack_panel_explain">
                            {{ lang.WEB_SOLUTIONS_PACK_13 | raw }}
                        </div>
                    </a>
                    #}
                </div>

                <div id="solutions_pack_footer">
                    <div id="solutions_pack_footer_title">
                        {{ lang.WEB_SOLUTIONS_PACK_21 | raw }} {#Controla tu negocio#}
                    </div>
                    <div id="solutions_pack_footer_explain">
                        {{ lang.WEB_SOLUTIONS_PACK_22 | raw }} {#Dedícate a tareas estratégicas y deja que la automatización se ocupe del resto.#}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>