{% set path = '/assets/images/web/'~config.website_skin~'/bands/solutions_hero/' %}
{% set img_1 = path ~ 'solutions_hero.png' %}

<section id="solutions_hero" class="web_section">
    <div id="solutions_hero_container" class="web_container">
        <div id="solutions_hero_content" class="web_content">

            <div id="solutions_hero_wrapper" class="web_wrapper">
                <div id="solutions_hero_left">
                    <h1>
                        {{ lang.WEB_SOLUTIONS_HERO_1 | raw }} {#Paquetes de Automatización con IA listos para tu negocio#}
                    </h1>
                    <h2>
                        {{ lang.WEB_SOLUTIONS_HERO_2 | raw }} {#Soluciones de automatización prediseñadas y probadas para liberar tu equipo y garantizar la eficiencia.#}
                    </h2>
                    <p>
                        {{ lang.WEB_SOLUTIONS_HERO_3 | raw }} {#Adaptamos nuestras soluciones listas para usar a las particularidades de tu negoacio.#}
                    </p>
                    <div id="solutions_hero_buttons" class="generic_button">
                        <a
                           class="solutions_hero_button"
                           href="/{{ lang.WEB_MENU_CONTACT_LINK }}"
                           title="{{ lang.WEB_TITLE_CONTACT }}"
                        >
                            {{ lang.WEB_SOLUTIONS_HERO_4 | raw }} {#Solicita una auditoría gratuita y plan de implementación#} >
                        </a>
                    </div>
                </div>
                <div id="solutions_hero_right">
                    <img
                         src="{{ img_1 }}"
                         decoding="async"
                         alt=""
                    >
                </div>
            </div>

        </div>
    </div>
</section>