
<section id="template_faq" class="web_section">
    <div id="template_faq_container" class="web_container">
        <div id="template_faq_content" class="web_content">

                <div id="template_faq_template_title">
                    template_faq
                </div>
            <div id="template_faq_wrapper" class="web_wrapper">
                <div id="template_faq_title">
                    <h2>{{ lang.WEB_INDEX_FAQ_TITLE_TEXT | raw }}</h2>
                </div>
                <div class="template_faq_band">
                    <div class="template_faq_band_container">
                        <div class="faq_band_content">
                            <div class="template_faq_band_question">
                                <div class="template_faq_band_question_text bold_text">{{ lang.WEB_INDEX_FAQ_Q1 | raw }}</div>
                                <div class="faq_band_question_icon">+</div>
                            </div>
                            <div class="faq_band_reply">
                                {{ lang.WEB_INDEX_FAQ_R1 | raw }}
                            </div>
                        </div>
                        <div class="faq_band_content">
                            <div class="template_faq_band_question">
                                <div class="template_faq_band_question_text bold_text">{{ lang.WEB_INDEX_FAQ_Q2 | raw }}</div>
                                <div class="faq_band_question_icon">+</div>
                            </div>
                            <div class="faq_band_reply">
                                {{ lang.WEB_INDEX_FAQ_R2 | raw }}
                            </div>
                        </div>
                        <div class="faq_band_content">
                            <div class="template_faq_band_question">
                                <div class="template_faq_band_question_text bold_text">{{ lang.WEB_INDEX_FAQ_Q3 | raw }}</div>
                                <div class="faq_band_question_icon">+</div>
                            </div>
                            <div class="faq_band_reply">
                                {{ lang.WEB_INDEX_FAQ_R3 | raw }}
                            </div>
                        </div>
                        <div class="faq_band_content">
                            <div class="template_faq_band_question">
                                <div class="template_faq_band_question_text bold_text">{{ lang.WEB_INDEX_FAQ_Q4 | raw }}</div>
                                <div class="faq_band_question_icon">+</div>
                            </div>
                            <div class="faq_band_reply">
                                {{ lang.WEB_INDEX_FAQ_R4 | raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>